{% extends 'rest_framework_swagger/base.html' %}

{% block logo %}
    <a id="logo"
       style="background:transparent url({{ STATIC_URL }}images/catmaidlogo.svg) no-repeat left center; padding-left: 2em; background-size: 1.5em;"
       href="{{ CATMAID_URL }}">
      CATMAID API
    </a>
{% endblock %}

{% block extra_scripts %}
  <script>
    $(document).on('ready', function() {
      var patchTimeoutTime = 100;

      var patchUI = function() {
          var target = $('div.info_description');
        if (target.length > 0) {
          target.append('<p>This is an API for accessing project, stack and ' +
              'annotation data for this CATMAID instance. More information ' +
              'is available at <a href="http://catmaid.org/page/api.html">catmaid.org</a></p>');
          target.append('<p><a href="mailto:catmaid@googlegroups.com">Contact the developers</a>' +
            ' <a href="https://github.com/catmaid/CATMAID" style="margin-left: 1em;">View the code</a> (GPLv3)</p>');
        } else {
          window.setTimeout(patchUI, patchTimeoutTime);
        }
      }

      $('head title').text('CATMAID API documentation (Swagger UI)');
      $('span.logo__title').text('CATMAID API documentation');
      $('img.logo__img').attr('src', '{{ STATIC_URL }}/images/catmaidlogo.svg');
      $('a#logo').attr('href', 'http://www.catmaid.org');

      patchTimeout = window.setTimeout(patchUI, patchTimeoutTime);
    });
  </script>

    <div id="django-rest-swagger">
        <div class="swagger-ui-wrap">
            <a href="http://swagger.wordnik.com">Docs powered by Swagger</a>
        </div>
    </div>
{% endblock %}
