{% extends 'rest_framework_swagger/index.html' %}

{% block logo %}
    <a id="logo"
       style="background:transparent url({{ STATIC_URL }}images/catmaidlogo.svg) no-repeat left center; padding-left: 2em; background-size: 1.5em;"
       href="{{ CATMAID_URL }}">
      CATMAID API
    </a>
{% endblock %}

{% block extra_styles %}
  <style>
    div.information-container div.info p,
    div.information-container div.info a {
      font-size: xx-large;
    }
  </style>
{% endblock %}

{% block extra_scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let patchTimeoutTime = 100;

      let patchUI = function() {
        let target = document.querySelector('div.information-container div.info');
        if (target) {
          while (target.lastChild) {
            target.removeChild(target.lastChild);
          }
          target.innerHTML = '<p>This is an API for accessing project, stack and ' +
              'annotation data for this CATMAID instance. More information ' +
              'is available at <a href="http://catmaid.org/page/api.html">catmaid.org</a>.</p>' +
              '<p><a href="mailto:catmaid@googlegroups.com">Contact the developers</a>' +
              ' <a href="https://github.com/catmaid/CATMAID" style="margin-left: 1em;">View the code</a> (GPLv3)</p>';
        } else {
          window.setTimeout(patchUI, patchTimeoutTime);
        }
      }

      let title = document.querySelector('head title');
      if (title) {
        title.appendChild(document.createTextNode('CATMAID API documentation (Swagger UI)'));
      }
      let logoImage = document.querySelector('div.topbar a.link img');
      if (logoImage) {
        logoImage.src = '{{ STATIC_URL }}/images/catmaidlogo.svg';
        logoImage.alt = 'CATMAID API documentation';
        logoImage.title = 'CATMAID API documentation';
      }
      let logoSpan = document.querySelector('div.topbar a.link span');
      if (logoSpan) {
        while (logoSpan.lastChild) {
          logoSpan.removeChild(logoSpan.lastChild);
        }
        logoSpan.appendChild(document.createTextNode('CATMAID API documentation'));
      }
      let logoLink = document.querySelector('div.topbar a.link');
      if (logoLink) {
        logoLink.href = 'http://www.catmaid.org';
      }

      patchTimeout = window.setTimeout(patchUI, patchTimeoutTime);
    });
  </script>

    <div id="django-rest-swagger">
        <div class="swagger-ui-wrap">
            <a href="http://swagger.wordnik.com">Docs powered by Swagger</a>
        </div>
    </div>
{% endblock %}
