div.sliceView div.sliceMouseCatcher
{
	background-image:url(empty.gif);
}

div.sliceView div.sliceBenchmark
{
	height:auto;
}

div.sliceView div.sliceBenchmark p
{
	margin-top:0em;
	background:url(blue20.png);
}