{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load common %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <style>
    .not-accessible { color: red; }
  </style>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

    <form method="post" id="confirmation-form" action="">
    {% csrf_token %}
    <div class="module">
    {{ wizard.form.non_field_errors }}
    <p>The following projects have been selected to be imported together with
    the settings listed. Please confirm this selection to do the actual import.
    Alternatively, you can go back and change settings. If an image base of a
    stack mirror is displayed in red, it means it can't be accessed through
    HTTP. Of course, you can still import data in this situation, but you are
    unlikely to see any images until your data can be accessed.</p>
    <p><table>
        <tr>
            <th>Project</th>
            <th>Stack Dimension</th>
            <th>Stack Resolution</th>
            <th>Stack Name</th>
            <th>Stack Zoom Factors</th>
            <th>Tile size (w x h)</th>
            <th>Stack Extension</th>
            <th>Stack Image Base</th>
            <th>Stack Description</th>
        <tr>
        {% for p in projects %}
            {% if p.stacks %}
              {% for s in p.stacks %}
                <tr>
                  {% if forloop.first %}
                    <td>{{ p.title }}
                    {% if p.already_known %}
                        <br /><span class="help">Known project</span>
                        <br /><span class="help">Action: {{ p.action }}</span>
                    {% else %}
                        <br /><span class="help">New project</span>
                    {% endif %}
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>{{ s.dimension }}</td>
                  <td>{{ s.resolution }}</td>
                  <td>{{ s.title }}</td>
                  <td>{{ s.downsample_factors }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{ s.description }}</td>
                </tr>
                {% for m in s.mirrors %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"><em>Mirror:</em> {{ m.title }}</td>
                    <td>{{ m.tile_width }} x {{ m.tile_height }}</td>
                    <td>{{ m.file_extension }}</td>
                    {% if o.accessible %}
                        <td class="accessible">{{ m.image_base }}</td>
                    {% else %}
                        <td class="not-accessible">{{ m.image_base }}</td>
                    {% endif %}
                    <td></td>
                  </tr>
                {% endfor %}
                {% for sg in s.stackgroups %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"><em>Stack group:</em> {{ sg.title }} </td>
                    <td></td>
                    <td></td>
                    <td>{{ sg.relation }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            {% else %}
              <tr>
                <td>{{ p.title }}</td>
                <td>{{ p.dimension }}</td>
                <td>{{ p.resolution }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <tr>
            {% endif %}
        {% endfor %}
    </table></p>

    <p>Additionally the following default options are shared by all projects
    (only used if unavailable otherwise).</p>
    <p><table>
        <tr>
            <th>Tags</th>
            <th>User Permissions</th>
            <th>Group Permissions</th>
            <th>Tile width</th>
            <th>Tile height</th>
            {% if link_cls_graphs %}
                <th>Classification graphs to link</th>
            {% endif %}
        </tr>
        <tr>
            <td>
            {% if tags %}
                {% for tag in tags %}
                    {{ tag }}<br />
                {% endfor %}
            {% else %}
                <em>(None)</em>
            {% endif %}
            </td>
            <td>
            {% for user, perm in user_permissions %}
                {{ user.username }} | {{ perm.name }}<br />
            {% endfor %}
            </td>
            <td>
            {% for group, perm in group_permissions %}
                {{ group.name }} | {{ perm.name }}<br />
            {% endfor %}
            </td>
            <td>{{ tile_width }}</td>
            <td>{{ tile_height }}</td>
            {% if link_cls_graphs %}
                <td>
                    {% for cg in cls_graphs_to_link %}
                        {{ cg.name }} ({{ cg.id }})<br />
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
    </table></p>
    </div>

    <div class="submit-row">
    <p>
      {{ wizard.management_form }}
      {% if wizard.steps.prev %}
          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="button small">{% trans "first step" %}</button>
          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button small">{% trans "prev step" %}</button>
      {% endif %}
      <input type="submit" value="submit"/>
    </p>
    </form>
  </div>
{% endblock %}
