{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

  <form method="post" id="path-setup-form" action="">
    {% csrf_token %}
  <div class="module">
    <p>This tool assists you with importing data into your CATMAID instance.
    To identify potentially new projects, the tool will look at the files and
    folders in a working directory. If a sub-directory in the working directory
    contains a project file (<em>project.yaml</em>), it is treated as a potential project.
    Please consult the manual to get an idea how such a project file is structured
    and how the importer expects the data to be laid out.</p>

    <p>Please be aware of the fact that currently only <em>one</em> specific
    file and folder layout is supported within a stack folder (source type
    <em>one</em>).</p>

    <p>The working directory is defined in the settings as {{ datafolder_setting }}
    and can be adjusted with the settings below. Additionally, you can define a
    default base URL to be used as default in this dialog with the help of the
    {{ base_url_setting }} setting. It should make your data (working) directory
    asscessible from the web.</p>

    <hr />

    {% if datafolder_missing %}
        <p><em>Unfortunately, this setting couldn't be found in your
        configuration. Please make sure it is there.</em></p>
    {% else %}
        <p>The following settings have been found:
        <div class="form-row">
              <table>
                  <tr>
                      <td>{{ datafolder_setting }}</td>
                      <td> {{ settings.CATMAID_IMPORT_PATH }}</td>
                  </tr>
                  <tr>
                      <td>{{ base_url_setting }}</td>
                      {% if base_url_setting_missing %}
                          <td><em>not set</em></td>
                      {% else %}
                          <td>{{ settings.CATMAID_IMPORT_URL }}</td>
                      {% endif %}
                  </tr>
              </table>
        </div>
        </p>
        <p>First you can narrow down the set of folders looked at. With the
        <em>relative path</em> setting below you can specify a sub-directory below the import
        path to be the working directory. If left empty, just the {{ datafolder_setting }}
        setting will be used.
        You can filter the projects used by specifying a <em>filter term</em> (a regular
        expression).
        <div class="aligned">
        {{ wizard.management_form }}
        {% for field in wizard.form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
                <p class="help">{{ field.help_text|safe }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>

    {% if not datafolder_missing %}
    <div class="submit-row">
        <p>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="next step"/>
        </p>
        </p>
    </div>
    {% endif %}
 </form>
</div>
{% endblock %}

