{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block extrahead %}
  <script>
    function hideAll(elements) {
      for (var i=0; i<elements.length; ++i) {
        elements[i].parentNode.style.display = "none";
      }
    }

    function showAll(elements) {
      for (var i=0; i<elements.length; ++i) {
        elements[i].parentNode.style.display = "block";
      }
    }

    function updateDisplay() {
      // Get current value or choose filesystem as default
      var source = this.value || 'filesystem';

      if ('filesystem' === source) {
        hideAll(document.querySelectorAll('.import-source-setting'));
        showAll(document.querySelectorAll('.filesystem-import'));
      } else if ('remote' === source) {
        hideAll(document.querySelectorAll('.import-source-setting'));
        showAll(document.querySelectorAll('.remote-import'));
        showAll(document.querySelectorAll('.http-auth-user'));
        showAll(document.querySelectorAll('.http-auth-pass'));
      } else if ('remote-catmaid' === source) {
        hideAll(document.querySelectorAll('.import-source-setting'));
        showAll(document.querySelectorAll('.catmaid-host'));
        showAll(document.querySelectorAll('.api-key'));
        showAll(document.querySelectorAll('.http-auth-user'));
        showAll(document.querySelectorAll('.http-auth-pass'));
      } else if ('json-spec' === source) {
        hideAll(document.querySelectorAll('.import-source-setting'));
        showAll(document.querySelectorAll('.json-spec'));
      } else {
        alert("Unknown import source: " + source);
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      // Hide an show controls based on import source selection
      var select = document.getElementById("id_pathsettings-import_from");
      if (!select) {
        alert("Couldn't find import source select");
        return;
      }

      select.onchange = function() {
        updateDisplay.call(select);
      };

      updateDisplay.call(select)
    });
  </script>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

  <form method="post" id="path-setup-form" action="">
    {% csrf_token %}
  <div class="module">
    <p>This tool assists you with importing data into your CATMAID instance.
    To identify potentially new projects, the tool will look at the files and
    folders in a working directory. If a sub-directory in the working directory
    contains a project file (<em>project.yaml</em>), it is treated as a potential project.
    Please <a href="http://catmaid.org/page/importing_data.html#importing-project-and-stack-information" target="_blank">
    consult the manual</a> to get an idea how such a project file is structured
    and how the importer expects the data to be laid out.</p>

    <p>Please be aware that currently only <em>one</em> specific
    file and folder layout is supported within a stack folder
    (<a href="http://catmaid.org/page/tile_sources.html#file-based-image-stack" target="_blank">source type one</a>).</p>

    <p>The working directory is defined as part of the CATMAID settings as
    {{ datafolder_setting }} and can be further adjusted through the settings
    below. Additionally, you can define a default base URL to be used if stack
    mirrors don't provide their URL explicitly. It should make your data directory
    asscessible from the web.</p>

    <hr />

    {% if datafolder_missing %}
        <p><em>Unfortunately, no data source was found in your
        configuration. Please make sure a data folder is set up.</em></p>
    {% else %}
        <p>
        <div class="aligned">
        {{ wizard.form.non_field_errors }}
        {{ wizard.management_form }}
        {% for field in wizard.form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                <div class="help">{{ field.help_text|safe }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>

    {% if not datafolder_missing %}
    <div class="submit-row">
        <p>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="next step"/>
        </p>
        </p>
    </div>
    {% endif %}
 </form>
</div>
{% endblock %}

