{% load common %}

<ul>
	{% for group, options, index in widget.subwidgets.0.optgroups %}
		<li>
			{% for option in options %}
				{% include option.template_name with widget=option %}
			{% endfor %}
			{% if index == 1 %}
				{% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
				<label for="widget.subwidgets.1.attrs.id">Number of zoom levels</label>
			{% endif %}
			{% if index == 2 %}
				{% include widget.subwidgets.1.template_name with widget=widget.subwidgets.2 %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
