{% extends "vncbrowser/common.html" %}

{% block title %}VNC neurons{% endblock %}

{% block main %}

<p class="intro">
  Alternatively, you can use the <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}">visual index and search page</a>.
</p>

<form method="post" action="{% url 'vncbrowser.views.index' project_id=project_id %}">
  {{ search_form }}
  <input type="submit" value="Search">
</form>

{% if all_neurons_list %}
    <table class="hor-minimalist-b hor-minimalist-b-wider">
      <tbody>
        <tr>
          <th><a href="{% url 'vncbrowser.views.index' order_by=name project_id=project_id %}">Neuron</a>
              <a href="{% url 'vncbrowser.views.index' order_by=namer project_id=project_id %}">&#8593;</a></th>
          <th><a href="{% url 'vncbrowser.views.index' order_by=cellbody project_id=project_id %}">Cell Body Location</a>
              <a href="{% url 'vncbrowser.views.index' order_by=cellbodyr project_id=project_id %}">&#8593;</a></th>
          <th><a href="{% url 'vncbrowser.views.index' order_by=gal4 project_id=project_id %}">Possible GAL4 Lines</a>
              <a href="{% url 'vncbrowser.views.index' order_by=gal4r project_id=project_id %}">&#8593;</a></th>
        </tr>
        {% for n in all_neurons_list %}
            <tr>
              <td><a href="{% url 'vncbrowser.views.view' neuron_id=n.id project_id=project_id %}">{{ n.name }}</a></td>
              <td>{{ n.cached_cell_body }}</td>
              <td>{% for l in n.cached_sorted_lines %}
                    <a href="{% url 'vncbrowser.views.line' line_id=l.id project_id=project_id %}">{{ l.name }}</a>
                {% endfor %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No neurons were found.</p>
{% endif %}

{% endblock %}
