{% extends "vncbrowser/common.html" %}

{% block title %}Connectors with multiple presynaptic treenodes{% endblock %}

{% block main %}

{% if connector_counts %}
    <table class="hor-minimalist-b hor-minimalist-b-wider">
      <tbody>
        <tr>
          <th>Connector ID</th>
          <th>Presynaptic Terminal Count</th>
          <th>View</th>
        </tr>
        {% for cc in connector_counts %}
            <tr>
              <td>{{ cc.connector }}</a></td>
              <td>{{ cc.number }}</td>
              <td>
                 {% for s in stacks %}
                    <a href="{% url 'vncbrowser.views.goto_connector' project_id=project_id connector_id=cc.connector stack_id=s.id %}">View in stack {{ s.title }}</a><br>
                 {% endfor %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No connectors with multiple presynaptic treenodes were found.</p>
{% endif %}

{% endblock %}
