{% extends "vncbrowser/common.html" %}

{% block extrascript %}
    <script type="text/javascript" charset="utf-8">
        var projectId = "{{project_id|escapejs}}";
        var staticURLPrefix = "{{static|escapejs}}";
        {% if sorted_neurons %}
            $(document).ready( function() {
            {% for n in sorted_neurons %}
                 setNeuronView( '{{ n.id }}', [ [ "{{ n.name|escapejs}}", {{ n.id }}, 'black' ] ] );
            {% endfor %}
            });
        {% endif %}
    </script>
{% endblock %}
