{% extends "vncbrowser/common.html" %}

{% block title %}VNC neuron: {{neuron.name}}{% endblock %}

{% block extrascript %}
    <script type="text/javascript" charset="utf-8">
      var neuronName = "{{neuron.name|escapejs}}";
      var neuronID = "{{neuron.id|escapejs}}";
      var staticURLPrefix = "{{static|escapejs}}";
      var projectId = "{{project_id|escapejs}}";
    </script>
    <script src="{{ static }}js/treelines.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static }}js/neuron-view.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block main %}

<table>
<tr valign="top">

<td>
    <h2 id="title-text">{{neuron.name}}</h2>

    <!--
      <div id="annotations-parent">
      <div id="annotations">


      <div id="lines">
      <h4>GAL4 Lines</h4>
      <form action="{% url 'vncbrowser.views.lines_add' project_id=project_id %}" method="post">
      <p><label for="id_name">Line: </label><input type="text" name="line_name"></input>
      <input type="submit" value="Add"></input><input type="hidden" name="neuron_id" value="{{neuron.id}}"></input>
      </p>
      </form>
    {% if lines %}
        <ul>
        {% for l in lines %}
            <li><a href="{% url 'vncbrowser.views.line' project_id=project_id, line_id=l.id %}">{{ l.name }}</a> <form action="{% url 'vncbrowser.views.lines_delete' project_id=project_id %}" method="POST" class="delete-form inline-form">
                               <input type="hidden" name="neuron_id" value="{{neuron.id}}">
                               <input type="hidden" name="line_name" value="{{l.name}}">
                               <input class="delete-submit" type="submit" value="delete">
                             </form>
        {% endfor %}
        </ul>
    {% else %}
        <p><em>[No GAL4 lines added yet]</em></p>
    {% endif %}
      </div>

        <div id="cell-body-location">
        <h4>Cell Body Location</h4>
        <form action="{% url 'vncbrowser.views.set_cell_body' %}" method="POST">
           {% for choice in cell_body_choices %}
             <input type="radio" {% ifequal choice.1 neuron.cell_body_location %}CHECKED{% endifequal %} name="cell-body-choice" id="choice-{{ choice.0 }}" value="{{ choice.0 }}">
             <input type="hidden" name="neuron_id" value="{{neuron.id}}">
             <label for="choice-{{ choice.0 }}">{{choice.1}}</label><br>
           {% endfor %}
           <input type="submit" value="Set" id="cell-body-set-button">
        </form>
      </div>

      </div>
      </div>
    -->
    <div id="log">
    </div>

    <div id="viewer" style="width: 500px; height: 500px">
    </div>

    <div id="buttons">
        <input id="xy-button" type="button" value="XY">
        <input id="xz-button" type="button" value="XZ">
        <input id="zy-button" type="button" value="ZY">
    </div>

    <p>
        {% for skeleton in skeletons %}
        <a href="{% url 'catmaid.control.skeleton_swc' skeleton_id=skeleton.id, project_id=project_id %}">Save SWC file (for
            skeleton {{skeleton.id}} of neuron "{{neuron.name}}")</a><br>
        {% endfor %}
        <br />
    </p>
    
</td>

<td>

    <div class="connections">
        <h4>Incoming Connections</h4>
        <table id="incoming-connections" class="hor-minimalist-b">
            <tr><th>Number of Connections</th><th>Neuron</th><th>Show</th></tr>
            {% for c in incoming %}
            <tr>
                <td>{{ c.id__count }}</td>
                <td><a href="{% url 'vncbrowser.views.view' project_id=project_id, neuron_id=c.id %}">{{c.name}}</a></td>
                <td><input type="checkbox" class="show-neuron" id="p{{project_id}}c{{c.id}}"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</td>

<td>
  <div class="connections">
    <h4>Outgoing Connections</h4>
  <table id="outgoing-connections" class="hor-minimalist-b">
    <tr><th>Number of Connections</th><th>Neuron</th><th>Show</th></tr>
    {% for c in outgoing %}
    <tr>
      <td>{{ c.id__count }}</td>
      <td><a href="{% url 'vncbrowser.views.view' project_id=project_id, neuron_id=c.id %}">{{c.name}}</a></td>
      <td><input type="checkbox" class="show-neuron" id="p{{project_id}}c{{c.id}}"></td>
    </tr>
    {% endfor %}
  </table>
  </div>

</td>

</tr>
</table>



  </body>

{% endblock %}
