{% extends "vncbrowser/neuron_thumbnails.html" %}

{% block title %}GAL4 line: {{ line.name }}{% endblock %}

{% block main %}

{% load cell_body_location %}

<h3>GAL4 line: {{ line.name }}</h3>

{% if line.sorted_neurons %}
  <h4>... is linked with the following neurons:</h4>
    <table class="hor-minimalist-b hor-minimalist-b-wider">
      <tbody>
        <tr><th>Visualization</th>
        <th>Cell Body Location</th>
        <th>Neuron</th>
        <th>GAL4 Lines</th></tr>
        {% for n in line.sorted_neurons %}
          <tr>
            <td><div class="thumbnail-neuron" id="{{ n.id }}"></div></td>
            <td>{{ n.cell_body|cell_body_location }}</td>
            <td><a href="{% url 'vncbrowser.views.view' n.id %}">{{ n.name }})</a></td>
            <td>{% for l in n.lines.all %}
                  <a href="{% url 'vncbrowser.views.visual_line' l.name %}">{{ l.name }}</a>
                {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No neurons were associated with this GAL4 line.</p>
{% endif %}

{% endblock %}
