{% extends "vncbrowser/neuron_thumbnails.html" %}

{% block title %}VNC neurons{% endblock %}

{% block main %}

    <p class="intro">
       Alternatively, you can use the <a href="{% url 'vncbrowser.views.index' project_id=project_id %}">standard index page</a>.
       <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}{{ search_form.minimal_search_path }}">Link to this search</a>
    </p>

<form method="post" action="{% url 'vncbrowser.views.visual_index' project_id=project_id %}" class="search">
  {{ search_form }}
  <input type="submit" value="Search">
</form>

  <div class="pagination">
      <span class="step-links">
          {% if sorted_neurons_page.has_previous %}
              <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}{{ search_form.minimal_search_path }}/page/{{ sorted_neurons_page.previous_page_number }}  ">previous</a>
          {% endif %}

          <span class="current">
              Page {{ sorted_neurons_page.number }} of {{ sorted_neurons_page.paginator.num_pages }}.
          </span>

          {% if sorted_neurons_page.has_next %}
              <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}{{ search_form.minimal_search_path }}/page/{{ sorted_neurons_page.next_page_number }}  ">next</a>
          {% endif %}
      </span>
  </div>

{% if sorted_neurons %}
    <table class="hor-minimalist-b hor-minimalist-b-wider">
      <tbody>
        <tr><th>Visualization</th>
        <th>Cell Body Location</th>
        <th>Neuron</th>
        <th>GAL4 Lines</th></tr>
        {% for n in sorted_neurons %}
          <tr>
            <td><div class="thumbnail-neuron" id="{{ n.id }}"></div></td>
            <td>{{ n.cached_cell_body_location }}</td>
            <td><a href="{% url 'vncbrowser.views.view' project_id=project_id, neuron_id=n.id %}">{{ n.name }}</a></td>
            <td>{% for l in n.cached_sorted_lines %}
                  <a href="{% url 'vncbrowser.views.line' project_id=project_id, line_id=l.id %}">{{ l.name }}</a>
                {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No neurons were found.</p>
{% endif %}

  <div class="pagination">
      <span class="step-links">
          {% if sorted_neurons_page.has_previous %}
              <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}{{ search_form.minimal_search_path }}/page/{{ sorted_neurons_page.previous_page_number }}  ">previous</a>
          {% endif %}

          <span class="current">
              Page {{ sorted_neurons_page.number }} of {{ sorted_neurons_page.paginator.num_pages }}.
          </span>

          {% if sorted_neurons_page.has_next %}
              <a href="{% url 'vncbrowser.views.visual_index' project_id=project_id %}{{ search_form.minimal_search_path }}/page/{{ sorted_neurons_page.next_page_number }}  ">next</a>
          {% endif %}
      </span>
  </div>

{% endblock %}
  
