div.smallMapView
{
	width:196px;
	height:196px;
}

div.smallMapView div.smallMapRect
{
	background:url(blue.ie6.gif);
}

div.sliceView div.sliceBenchmark p
{
	background:url(blue.ie6.gif);
}

div.stackInfo
{
	background:url(grey.ie6.gif);
}
div.stackInfo_selected
{
	background:url(blue.ie6.gif);
}
