div.sliceView
{
	/* this has to be the 1st rule for automated parsing */
	position:relative;
/*
	margin:20px 20px 20px 200px;
	width:100px;
	height:100px;
*/
	margin:0px;
    sliceViewtop:0px;
	right:0px;
	bottom:0px;
	left:0px;
	padding:0px;
	/*
	background:#808080;
	*/
	background:#000000;
	overflow:hidden;
}

div.sliceView div.sliceTiles
{
	/* this has to be the 2nd rule for automated parsing */
	position:absolute;
	top:0px;
	left:0px;
	border:none;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	transform:translateZ(0px);
}

div.sliceView div.sliceTiles img
{
	/* this has to be the 3rd rule for automated parsing */
	position:absolute;
	border:none;
	margin:0px;
	padding:0px;
	transform:translateZ(0px);
/*
	width:256px;
	height:256px;
*/
}

div.smallMapView,
div.smallMapView_hidden
{
	/* this has to be the 4th rule for automated parsing */
	position:absolute;
	bottom:0px;
	right:0px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	width:192px;
	height:192px;
	border:none 0px;
	border-top:solid 4px #000000;
	border-left:solid 4px #000000;
	background:#000000;
	z-index:4;
}
div.smallMapView_hidden
{
	width:16px;
	height:16px;
}

body
{
	border:none;
	margin:0px;
	padding:0px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:14px;
}

div.smallMapView div.smallMapToggle,
div.smallMapView_hidden div.smallMapToggle
{
	position:absolute;
	left:0px;
	top:0px;
	width:16px;
	height:16px;
	overflow:hidden;
	background:#FF0000 url(smallmapclose.gif) no-repeat left top;
}
div.smallMapView_hidden div.smallMapToggle
{
	background:#FF0000 url(smallmapopen.gif) no-repeat left top;
}

div.smallMapView img.smallMapMap,
div.smallMapView_hidden img.smallMapMap
{
	border:none;
	margin:0px;
	padding:0px;
	cursor:pointer;
}

div.smallMapView div.smallMapRect,
div.smallMapView_hidden div.smallMapRect
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	border:solid 2px #0000FF;
	background:url(blue20.png);
	overflow:hidden;
}

div.smallMapView div.smallMapRect div,
div.smallMapView_hidden div.smallMapRect div
{
	margin:0px;
	padding:0px;
	border:none;
	width:100%;
	height:100%;
	background:#0000FF;
	opacity:.25;
}

div.TilelayerControl
{
	/*border:solid 2px #0000FF;*/
	margin:0px;
	padding:0px;
	position:relative;
    top:10px;
    left:10px;
    width:130px;
    color:#FFFFFF;
}

div.TilelayerControl .layerControl
{
	/*border:solid 2px #0000FF;*/
	margin:0 0 10px 0;
}

div.sliceView div.sliceMouseCatcher
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	z-index:5;
	cursor:move;
	/*
	background:#993333;
	
	background-image:url(../empty.gif);
	*/
}

div.sliceView div.sliceBenchmark
{
	position:absolute;
	left:32px;
	bottom:32px;
	height:0.5em;
	width:100px;
	border:solid 2px #0000FF;
	border-top:none;
	overflow:visible;
	margin:0px;
	padding:0px;
	vertical-align:bottom;
	z-index:3;
}

div.sliceView div.sliceBenchmark p
{
	border:none;
	margin:0px;
	margin-top:-12px;
	padding:3px 6px 3px 14px;
	color:#FFFFFF;
	/*font-weight:bold;*/
	background:url(blue20.png);
	overflow:hidden;
}

div.sliceView div.sliceBenchmark p span
{
	padding:3px 6px 3px 6px;
	background:#0000FF;
}

div.sliceView div.metadata
{
	position:absolute;
	right:10px;
	top:42px;
	height:0.5em;
	width:auto;
	border:none;
	overflow:visible;
	margin:0px;
	padding:0px;
	vertical-align:bottom;
	z-index:3;
}

div.sliceView div.metadata p
{
	border:none;
	margin:0px;
	margin-top:-12px;
	padding:3px 6px 3px 14px;
	color:#FFFFFF;
	background:url(blue20.png);
	overflow:hidden;
}

div.sliceView div.indicatorbar
{
    position:absolute;
    right:5px;
    top:25px;
    height:0.5em;
    width:auto;
    border:none;
    overflow:visible;
    margin:0px;
    padding:0px;
    vertical-align:bottom;
    z-index:10;
}

div.sliceView p.neuronname
{
	position:absolute;
	right:60px;
	top:0px;
	width:auto;
	border:none;
	margin:0px;
	padding:3px 6px 3px 6px;
	vertical-align:bottom;
	z-index:7;
	color:#ffffff;
}

div.stackInfo,
div.stackInfo_selected
{
	position:absolute;
	left:0px;
	top:0px;
	margin:0px;
	padding:0px;
	width:100%;
	color:#FFFFFF;
	background:url(black20.png);
	overflow:hidden;
	z-index:6;
}
div.stackInfo_selected
{
	background:url(blue20.png);
}

div.stackInfo p,
div.stackInfo_selected p
{
	margin:0px;
	padding:3px 6px 3px 6px;
	background:#A0A0A0;
	color:#FFFFFF;
}
div.stackInfo_selected p
{
	background:#0000FF;
}

div.stackInfo p.stackTitle,
div.stackInfo_selected p.stackTitle
{
	float:left;
}

div.stackInfo p.stackClose,
div.stackInfo_selected p.stackClose
{
	cursor:pointer;
	float:right;
}

div.sliceView div.cropBox,
div.sliceView div.cropBoxNonActive
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	border:solid 1px #0000FF;
	background:url(blue20.png);
	overflow:visible;
	z-index:3;
}

div.sliceView div.cropBoxNonActive
{
	opacity:.5;
}

div.sliceView div.cropBox p.world,
div.sliceView div.cropBox p.screen,
div.sliceView div.cropBox p.close
{
	position:absolute;
	right:-1px;
	bottom:-24px;
	margin:0px;
	padding:2px;
	background:#0000FF;
	color:#FFFFFF;
	white-space:nowrap;
}

div.sliceView div.cropBoxNonActive p.world,
div.sliceView div.cropBoxNonActive p.screen,
div.sliceView div.cropBoxNonActive p.close
{
    visibility: hidden;
}

div.sliceView div.cropBox p.screen
{
	bottom:-47px;
}

div.sliceView div.cropBox p.close
{
	top: -22px;
	height: 12px;
	z-index:6;
	cursor: pointer;
}

.clear {
  clear: both;
}
