<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CATMAID v0.24</title>
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/console.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/ui.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/slider.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/stack.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/toolbar.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/screen.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/project.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/keyboard-shortcuts.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/textlabel.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/svgoverlay.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/canvasoverlay.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/datatable/css/demo_table.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/datatable/themes/smoothness/jquery-ui-1.10.1.custom.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/resize_handle.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}libs/jquery/growlAlert.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/windowmanager.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/jsTree/classic/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/stats.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/dd.css" />

		<!--[if gte IE 5]>
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/ui.ie.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/stack.ie.css" />
		<![endif]-->
		<!--[if gte IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/toolbar.ie7.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/screen.ie7.css" />
		<![endif]-->
		<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/stack.ie6.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/console.ie6.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/toolbar.ie6.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}widgets/themes/kde/screen.ie6.css" />
		<![endif]-->

		<script type="text/javascript">
			var STATIC_URL_JS = '{{ STATIC_URL|escapejs }}';
			var IE = false;
			var django_url = "{{ CATMAID_URL }}";
		</script>

		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/js/Detector.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.jstree.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.tag.editor.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.jeditable.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.url.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery-ui-1.10.1.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/growlAlert.plugin.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.blockUI.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.dd.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/fabric.js/all.modified.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tools.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/console.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/catmaid/request.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}ui.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/input.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/slider.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/menu.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/resize_handle.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}action.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}project.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}overview.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}overviewlayer.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}stack.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tilesource.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tilelayer.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}navigator.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}selector.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}taggingtool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}boxselectiontool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}croppingtool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tracingtool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tracinglayer.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}segmentationannotations.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}segmentationtool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/canvastool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/canvaslayer.js"></script>

		<!--[if gte IE 5]>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/excanvas/excanvas.js"></script>
		<script type="text/javascript">var IE = true;</script>
		<![endif]-->

		<script type="text/javascript" src="{{ STATIC_URL }}widgets/textlabel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/profile.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/overlay_node.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/overlay_label.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/overlay.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}init.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/raphael/raphael.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/raphael/g.raphael.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/raphael/g.pie-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/raphael/raphael-custom.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/raphael/colorwheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/d3/d3.v2.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/table_treenode.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/table_connector.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/table_log.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/tree_object.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/stats.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/review.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/sylvester/sylvester.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}treelines.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/three.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/js/controls/TrackballControls.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/js/RequestAnimationFrame.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/js/Stats.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/three.js/helvetiker_regular.typeface.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/threex/THREEx.FullScreen.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/threex/THREEx.WindowResize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}webglapp.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}WindowMaker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/windowmanager.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/cytoscapejs/cytoscape.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/cytoscapeweb/js/min/json2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/cytoscapeweb/js/min/AC_OETags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}libs/cytoscapeweb/js/min/cytoscapeweb.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/graph_widget.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/connectivity.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/adjmatrix.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/compartment_graph_widget.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/skeleton_analytics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}ontologytool.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/ontology_editor.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}widgets/classification_editor.js"></script>
	</head>
	<body onload="realInit();"><a></a>
		<div id="growl-alert" class="growl-message" style="display: none"></div>
		<!-- Toolbars
		***********************************************************************
		-->
		<div id="toolbar_container" class="toolbar_container">
			<!-- Project and Login
			*******************************************************************
			-->
			<div id="toolbar_login" class="toolbar">
				<div id="home_box" class="box">
					<div class="menu_item" style="float:left" onmouseover="this.lastChild.style.display = 'block';" onmouseout="this.lastChild.style.display = 'none';">
						<p><a href="" onclick="rootWindow.closeAllChildren(); return false;">Home</a></p>
						<div class="pulldown" id="dataview_menu"></div></div>
				</div>
				<div id="menu_box" class="box">
					<div class="menu_item" style="float:left" onmouseover="this.lastChild.style.display = 'block';" onmouseout="this.lastChild.style.display = 'none';"><p><a>Projects</a></p>
						<div class="pulldown" id="project_menu"></div></div>
				</div>
				<div id="message_box" class="box" style="display:none">
					<div class="menu_item" onclick="showMessages();" onmouseover="this.lastChild.style.display = 'block';" onmouseout="this.lastChild.style.display = 'none';"><p id="message_menu_text"><a>Messages</a>&nbsp;&nbsp;</p>
						<div class="pulldown" id="message_menu"></div></div>
				</div>

				<div class="box" id="toolbox_project" style="display:none"></div>
				<div class="box" id="toolbox_edit" style="display:none"></div>
				<div class="box" id="toolbox_segmentation" style="display:none"></div>
				<div class="box" id="toolbox_ontology" style="display:none"></div>
				<div class="box" id="toolbox_data" style="display:none"></div>

				<div id="spinner_box" class="box_right" style="width:20px; height: 20px; position:relative">
				    <div id="spinner"><img src="{{ STATIC_URL }}widgets/themes/kde/wait_bgtransgrey.gif" alt="spinner" /></div>
				</div>
				<div id="logout_box" class="box_right" style="display:none"><p><a id="logout" name="logout" title="Logout" onclick="logout();" href="#">Logout</a></p></div>
				<div id="login_box" class="box_right" style="display:none"><p>account&nbsp;</p><p><input type="text" id="account" name="account" size="8" /></p><p>&nbsp;&nbsp;password&nbsp;</p><p><input type="password" id="password" name="password" size="8" /></p><p>&nbsp;&nbsp;<a id="login" name="login" title="Login" href="#" onclick="login( document.getElementById( 'account' ).value, document.getElementById( 'password' ).value );">Login</a></p></div>
				<div id="session_box" class="box_right" style="display:none"><p>You are <span id="session_longname">&nbsp;</span>.</p></div>
				<div class="box_right" id="toolbox_show" style="display:none">
					<a href="#" class="button_active" id="show_button_text" onclick="project.toggleShow( 'text' );"><img src="{{ STATIC_URL }}widgets/themes/kde/show_text.gif" alt="show textlabels" title="show textlabels" /></a>
					<!--<a href="#" class="button_active" id="show_button_trace" onclick="project.toggleShow( 'trace' );"><img src="{{ STATIC_URL }}widgets/themes/kde/show_trace.gif" alt="show traces" title="show traces" /></a>//-->
				</div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->
			
			<!-- Navigation
			*******************************************************************
			-->
			<div id="toolbar_nav" class="toolbar" style="display:none">
				<div class="box"><p>x&nbsp;</p><p><input type="text" id="x" name="x" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#xmap" /></p></div>
				<div class="box"><p>y&nbsp;</p><p><input type="text" id="y" name="y" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#ymap" /></p></div>
				<div id="sliders_box"></div>
				<div class="box" id="zoom_level_box"><p>zoom-level&nbsp;&nbsp;</p><div id="slider_s"></div><p>&nbsp;&nbsp;</p></div>
				<div class="box_right"><p><a id="a_url" name="a_url" title="This is the URL to this view. You can bookmark it or send it to the people." href="">URL to this view</a></p></div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->

			<!-- Segmentation/Canvas
			*******************************************************************
			-->
			<div id="toolbar_seg" class="toolbar" style="display:none;">


				<div id="sliders_box_seg"></div>
                <div class="box">
                    <button id="button_mode_component"  name="button_mode_component" style="height:20px;width: 80px; margin-top: 6px;" class="button_active">Components</button>
                    <button id="button_mode_free_drawing" name="button_mode_free_drawing"  style=";width: 80px;height:20px;background-color: #e0ffff;margin-top: 6px;" >Labeling</button>
                </div>
                <div class="box">
                    <button id="button_clear_canvas" name="button_clear_canvas"  style="width: 80px;height:20px;background-color: #f08080; margin-top: 6px;" >Clear canvas</button>
                </div>
                <div style="width:1px;height:32px;background-color:black;float:left;"></div>

                <div class="box" id="component_controls">
                    <button id="button_init_components" name="button_init_components" style="height:20px; margin-top: 6px;"  >Initialize components</button>
                    <button id="button_save_components" name="button_save_components" style="height:20px;margin-top: 6px;" >Save components</button>
                    <button id="button_color_wheel" name="button_color_wheel" style="height:20px;margin-top: 6px;" >Component Color</button>


                    <button id="button_drawing_mode" name="button_drawing_mode" style="height:20px;margin-top: 6px;"  >Correction Mode</button>
                </div>

                <div class="box" id="free_drawing_controls">
                    <select id="select_drawing_type" style="height:100%; background-color: #e0ffff;"></select>


                </div>

                <div class="box" id="drawing_controls">


                </div>
                <div id="sliders_box_brush_size"><span>&nbsp; Brush size:</span></div>


				<div class="toolbar_fill"></div>
			</div>

			<!-- Segmentation Tool
			*******************************************************************
			-->
			<div id="toolbar_segmentation" class="toolbar" style="display:none;">
				<div id="sliders_box_segmentation"></div>
				<div class="toolbar_fill"></div>
			</div>
			
			<!-- Textlabels
			*******************************************************************
			-->
			<div id="toolbar_text" class="toolbar" style="display:none">
				<div class="box"><p>size&nbsp;</p><p id="input_fontsize"></p></div>
				<div class="box"><p>bold&nbsp;</p><p><input type="checkbox" id="fontstylebold" name="fontstylebold" checked="checked" /></p></div>
				<div class="box"><p>colour&nbsp;</p><p>&nbsp;red&nbsp;</p><p id="input_fontcolourred"></p><p>&nbsp;green&nbsp;</p><p id="input_fontcolourgreen"></p><p>&nbsp;blue&nbsp;</p><p id="input_fontcolourblue"></p></div>
				<div class="box"><p>scaling&nbsp;</p><p><input type="checkbox" id="fontscaling" name="fontscaling" checked="checked" /></p></div>
                <div class="box"><p>textlabel editable&nbsp;</p><p><input type="checkbox" id="textlabeleditable" name="textlabeleditable" checked="checked" /></p></div>
				<!--<div class="box_right"><a href="#" class="button" id="button_text_apply" onclick="return false;"><img src="{{ STATIC_URL }}widgets/themes/kde/apply.gif" alt="apply" title="apply" /></a></div>-->
				<div class="box_right"><p id="icon_text_apply" class="toolbar_wait">applying ...</p></div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->
			
			<!-- Tagging
			*******************************************************************
			-->
			<div id="toolbar_tags" class="toolbar" style="display:none">
				<div class="box"><p>project tags&nbsp;</p><p><input type="text" id="project_tags" name="project_tags" size="35" /></p></div>
				<div class="box"><p>stack tags&nbsp;</p><p><input type="text" id="stack_tags" name="stack_tags" size="35" /></p></div>
				<div class="box_right"><a href="#" class="button" id="button_tags_apply" onclick="return false;"><img src="{{ STATIC_URL }}widgets/themes/kde/apply.gif" alt="apply" title="apply" /></a></div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->

			<!-- Crop
			*******************************************************************
			-->
			<div id="toolbar_crop" class="toolbar" style="display:none">
				<div class="box"><p>x&nbsp;</p><p><input type="text" id="box_crop_x" name="box_crop_x" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#box_crop_xmap" /></p></div>
				<div class="box"><p>y&nbsp;</p><p><input type="text" id="box_crop_y" name="box_crop_y" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#box_crop_ymap" /></p></div>
				<div class="box"><p>w&nbsp;</p><p><input type="text" id="box_crop_w" name="box_crop_w" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#box_crop_wmap" /></p></div>
				<div class="box"><p>h&nbsp;</p><p><input type="text" id="box_crop_h" name="box_crop_h" size="5" /><img src="{{ STATIC_URL }}widgets/themes/kde/input_topdown.gif" alt="" usemap="#box_crop_hmap" /></p></div>
				<div class="box" id="crop_top_z_index_box"><p>top z-index&nbsp;&nbsp;</p><div id="slider_crop_top_z"></div><p>&nbsp;&nbsp;</p></div>
				<div class="box" id="crop_bottom_z_index_box"><p>bottom z-index&nbsp;&nbsp;</p><div id="slider_crop_bottom_z"></div><p>&nbsp;&nbsp;</p></div>
				<div class="box" id="crop_zoom_level_box"><p>zoom-level&nbsp;&nbsp;</p><div id="slider_crop_s"></div><p>&nbsp;&nbsp;</p></div>
				<div id="crop_stacks_menu_box" class="box">
					<div class="menu_item" style="float:left" onmouseover="this.lastChild.style.display = 'block';" onmouseout="this.lastChild.style.display = 'none';"><p><a>Stacks</a></p>
						<div class="pulldown" id="crop_stacks_menu"></div></div>
				</div>
				<div class="box"><p>RGB slices&nbsp;</p><p><input type="checkbox" id="check_crop_rgb_slices" name="check_crop_rgb_slices" /></p></div>
				<div class="box_right"><a href="#" class="button" id="button_crop_apply" onclick="return false;"><img src="{{ STATIC_URL }}widgets/themes/kde/apply.gif" alt="apply" title="apply" /></a></div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->

			<!-- Ontology
			*******************************************************************
			-->
			<div id="toolbar_ontology" class="toolbar" style="display:none">
				<div id="ontology_workspace" class="box">
					<p>Work space:&nbsp;</p>
					<p><input type="radio" name="ontology_space" value="project" checked /></p>
					<p>&nbsp;project specific</p>
					<p><input type="radio" name="ontology_space" value="classification" />
					<p>&nbsp;project independent</p>
				</div>
				<div class="toolbar_fill"></div>
			</div>
			<!--
			*******************************************************************
			-->
		</div>

		<!-- Main screen, project list, forms etc.
		***********************************************************************
		-->
		<div id="content">
			<div id="data_view"></div>
			<div id="clientside_data_view">
				<h1>CATMAID v0.24</h1>
				<div id="project_list">

					<p>Please feel free to open one of the public projects or log in with your account and password.</p>

					<h2 id="projects_h">Projects</h2>
					<form id="project_filter_form" display="none">Filter projects:
						<input id="project_filter_text" type="text" onkeyup="updateProjectListFromCacheDelayed();">
						<span id="project_filter_indicator"></span>
					</form>
					<dl id="projects_dl"><dt></dt><dd></dd></dl>
					<p id="project_list_message"></p>
				</div>
			</div>

			<div id="new_project_dialog" class="form">
				<form name="new_project_form" id="new_project_form" action="">
				<h2>Create new project</h2>
				<table>
					<tr>
						<td><p>Title:</p></td><td><textarea name="title" rows="3" cols="80">New Project</textarea></td>
					</tr>
					<tr>
						<td><p>Visibiliy:</p></td><td><input type="radio" name="public" value="1" checked="checked" /> public &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="public" value="0" /> private</td>
					</tr>
					<tr>
						<td><p>Owners:</p></td><td><p id="new_project_owners_wait" class="wait_bgwhite">loading ...</p><select name="owners" id="new_project_owners" multiple="multiple"><option></option></select></td>
			
					</tr>
					<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
					<tr><td></td>
						<td><input type="button" value=" Register Project " onclick="register_project();" />
						<input type="reset" value=" Cancel " /></td>
					</tr>
				</table>
				</form>
			</div>

			<div id="new_user_dialog" class="form">
			<form name="new_user_form" id="new_user_form" action="">
			<h2>Create new user</h2>
			<table>
				<tr>
					<td><p>Username:</p></td><td><input type="text" name="uname" id="user_name" /></td>
				</tr>
				<tr>
					<td><p>Longname:</p></td><td><input type="text" name="ulongname" id="user_longname" /></td>
				</tr>
				<tr>
					<td><p>Password:</p></td><td><input type="password" name="upassword" id="user_pwd" /></td>
				</tr>
				<tr>
					<td><p>E-Mail:</p></td><td><input type="text" name="uemail" id="user_email" /></td>
				</tr>
				<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td></td><td>
					<input type="button" value=" Register User " onclick="register_user();" />
					<input type="reset" value=" Cancel " />
				</td></tr>
			</table>
			</form>
			</div>
		</div>
		
		<!-- Dump for elements that should be available in the DOM but not visible for now -->
		<div id="dump" style="display:none">
			<!-- Maps for input extension
			***********************************************************************
			-->
			<map id="xmap" name="xmap"><area shape="rect" coords="0,0,13,9" href="javascript:var x = document.getElementById( 'x' ); x.value = parseInt( x.value ) + 1; x.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var x = document.getElementById( 'x' ); x.value = parseInt( x.value ) - 1; x.onchange();" alt="-" /></map>
			<map id="ymap" name="ymap"><area shape="rect" coords="0,0,13,9" href="javascript:var y = document.getElementById( 'y' ); y.value = parseInt( y.value ) + 1; y.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var y = document.getElementById( 'y' ); y.value = parseInt( y.value ) - 1; y.onchange();" alt="-" /></map>
			<map id="box_crop_xmap" name="box_crop_xmap"><area shape="rect" coords="0,0,13,9" href="javascript:var box_crop_x = document.getElementById( 'box_crop_x' ); box_crop_x.value = parseInt( box_crop_x.value ) + 1; box_crop_x.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var box_crop_x = document.getElementById( 'box_crop_x' ); box_crop_x.value = parseInt( box_crop_x.value ) - 1; box_crop_x.onchange();" alt="-" /></map>
			<map id="box_crop_ymap" name="box_crop_ymap"><area shape="rect" coords="0,0,13,9" href="javascript:var box_crop_y = document.getElementById( 'box_crop_y' ); box_crop_y.value = parseInt( box_crop_y.value ) + 1; box_crop_y.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var box_crop_y = document.getElementById( 'box_crop_y' ); box_crop_y.value = parseInt( box_crop_y.value ) - 1; box_crop_y.onchange();" alt="-" /></map>
			<map id="box_crop_wmap" name="box_crop_wmap"><area shape="rect" coords="0,0,13,9" href="javascript:var box_crop_w = document.getElementById( 'box_crop_w' ); box_crop_w.value = parseInt( box_crop_w.value ) + 1; box_crop_w.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var box_crop_w = document.getElementById( 'box_crop_w' ); box_crop_w.value = parseInt( box_crop_w.value ) - 1; box_crop_w.onchange();" alt="-" /></map>
			<map id="box_crop_hmap" name="box_crop_hmap"><area shape="rect" coords="0,0,13,9" href="javascript:var box_crop_h = document.getElementById( 'box_crop_h' ); box_crop_h.value = parseInt( box_crop_h.value ) + 1; box_crop_h.onchange();" alt="+" /><area shape="rect" coords="0,10,13,18" href="javascript:var box_crop_h = document.getElementById( 'box_crop_h' ); box_crop_h.value = parseInt( box_crop_h.value ) - 1; box_crop_h.onchange();" alt="-" /></map>
			<!--
			***********************************************************************
			-->
			<div id="message_context" style="background:#ffffff; position:absolute; bottom:0px; width:100%; overflow:auto"><dl id="message_container" style="margin-top:2em; margin-bottom:2em"><dt>No new messages.</dt><dd></dd></dl></div>
		</div>
		
	</body>
</html>
