{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div id="content-main">
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="" method="post">{% csrf_token %}
    <div class="module">
    {% block stepinfo %}
    {% endblock %}

    {% if form.errors %}
      <div class="module">
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <p>
              <strong>{{ error|escape }}</strong>
              </p>
          </div>
      {% endfor %}
      </div>
    {% endif %}

    <div class="aligned">
    {{ wizard.management_form }}
    {% for field in wizard.form %}
        <div class="form-row">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>

    <div class="submit-row">
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
      {% endif %}
      <input type="submit" value="{% trans "submit" %}"/>
    </div>
  </form>
</div>
{% endblock %}
