{% load pipeline %}
{% load common %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>neuroglancer</title>
  </head>
  <body>
    <div id="neuroglancer-container"></div>

    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/chunk_worker.bundle.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/draco.bundle.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/draco.bundle.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/tfjs-library.bundle.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/async_computation.bundle.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}/libs/neuroglancer/main.bundle.js"></script>

</html>
