{% load pipeline %}
{% load common %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>neuroglancer</title>
    {% for f in STYLESHEET_IDS %}
        {% if 'neuroglancer' in f %}
            {% stylesheet f %}
        {% endif %}
    {% endfor %}
  </head>
  <body>
    <div id="neuroglancer-container"></div>

    {% for f in NON_COMPRESSED_FILES %}
      {% if 'neuroglancer' in f %}
        <script type="application/javascript" src="{{ STATIC_URL }}{{ f }}"></script>
      {% endif %}
    {% endfor %}
</html>
