{% load common %}
{% load data_view_config %}
{% include "catmaid/common_data_view_header.html" %}

{% with catalogue_link=config|get_or_none:"catalogue_link"|default_if_none:1 %}
{% with sample_images=config|get_or_none:"sample_images"|default_if_none:0 %}
{% with sample_stack=config|get_or_none:"sample_stack"|default_if_none:0 %}
{% with sample_slice=config|get_or_none:"sample_slice"|default_if_none:"center" %}
{% with sample_width=config|get_or_none:"sample_width"|default_if_none:-1 %}
{% with sample_height=config|get_or_none:"sample_height"|default_if_none:-1 %}

{% if sample_images %}<table>{% endif %}
{% for p in projects %}
    {% if p.stacks.count > 0 %}
    {# Add a sample image if requested #}
    {% if sample_images %}<tr><td class="stackimage">
            {# Get the samlpe stack  #}
            {% with stack=p.stacks|order_by:'id'|get_stack:sample_stack %}
            {% if stack|is_none %}
                Couldn't find requested stack: {{ sample_stack }}
            {% else %}
                {# Get the wanted slice #}
                {% with slice=stack|get_slice:sample_slice %}
                {% if slice|is_none %}
                    Couldn't find requested slice: {{ sample_slice }}
                {% else %}
                    <img src="{{ stack.image_base }}{{ slice }}/small.{{ stack.file_extension }}"
                        alt="Sample image for {{ stack.title }} on slice {{ slice }}"
                        {% if sample_width > -1 %} width="{{ sample_width }}" {% endif %}
                        {% if sample_height > -1 %} height="{{ sample_height }}" {% endif %} />
                {% endif %}
                {% endwith %}
            {% endif %}
            {% endwith %}
            </td><td class="stackname">
    {% endif %}
            <dl>
                <dt>{{ p.title }}</dt>
                {% for s in p.stacks|order_by:"id" %}
                <dd><a href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1" onclick="openProjectStack({{p.id}}, {{s.id}});return false">{{ s.title }}</a></dd><dd>{{ s.comment|safe }}</dd>
                {% endfor %}
                {# Optionally, add the the neuron catalogue link #}
                {% if p.is_catalogueable and catalogue_link %}
                    <dd><a href="{{ settings.CATMAID_URL }}{{ p.id }}">Browse the Neuron Catalogue</a></dd>
                {% endif %}
            </dl>
        </td></tr>
    {% endif %}
{% endfor %}
{% if sample_images %}</table>{% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
