{% load common %}
{% load data_view_config %}
{% include "catmaid/common_data_view_header.html" %}

{% with show_stackgroups=config|get_or_none:"show_stackgroups"|default_if_none:1 %}
{% with show_stacks=config|get_or_none:"show_stacks"|default_if_none:1 %}
{% with show_mirrors=config|get_or_none:"show_mirrors"|default_if_none:0 %}
{% with catalogue_link=config|get_or_none:"catalogue_link"|default_if_none:1 %}
{% with sample_images=config|get_or_none:"sample_images"|default_if_none:0 %}
{% with sample_mirror_index=config|get_or_none:"sample_mirror_index"|default_if_none:0 %}
{% with sample_stack=config|get_or_none:"sample_stack"|default_if_none:0 %}
{% with sample_slice=config|get_or_none:"sample_slice"|default_if_none:"center" %}
{% with sample_width=config|get_or_none:"sample_width"|default_if_none:-1 %}
{% with sample_height=config|get_or_none:"sample_height"|default_if_none:-1 %}

{% if sample_images %}<table>{% endif %}
{% for p in projects %}
    {% if show_stacks and stacks_of|get:p.id or show_stackgroups and stackgroups_of|get:p.id %}
        {# Add a sample image if requested #}
        {% if sample_images %}
            <tr><td class="stackimage">
            {% if show_stacks and stacks_of|get:p.id %}
                {# Get the samlpe stack  #}
                {% with stack=stacks_of|get:p.id|dictsort:'id'|get_stack:sample_stack %}
                {% if stack|is_none %}
                    Couldn't find requested stack: {{ sample_stack }}
                {% else %}
                    {# Get the wanted slice #}
                    {% with slice=stack|get_slice:sample_slice %}
                    {% if slice|is_none %}
                        Couldn't find requested slice: {{ sample_slice }}
                    {% elif stack.stackmirror_set.all|length %}
                        {% with stack.stackmirror_set.all|dictsort:'position'|get:sample_mirror_index as mirror %}
                          <img class="lazy"
                              data-src="{{ mirror.image_base }}{{ slice }}/small.{{ mirror.file_extension }}"
                              alt="Sample image for {{ stack.title }} on slice {{ slice }}"
                              {% if sample_width > -1 %} width="{{ sample_width }}" {% endif %}
                              {% if sample_height > -1 %} height="{{ sample_height }}" {% endif %} />
                        {% endwith %}
                    {% endif %}
                    {% endwith %}
                {% endif %}
                {% endwith %}
            {% endif %}
            </td><td class="stackname">
        {% endif %}
         <dl>
            <dt>{{ p.title }}</dt>
            {% if show_stackgroups and stackgroups_of|get:p.id %}
                <dd><dl>
                {% for sg in stackgroups_of|get:p.id|dictsort:"id" %}
                    <dt data-type="stackgroup"><a data-type="stackgroup" href="?pid={{ p.id }}&tool=navigator&sg={{ sg.id }}"
                        onclick="CATMAID.openStackGroup({{p.id}}, {{sg.id}}).catch(CATMAID.handleError);return false">{{ sg.title }}</a></dt>
                {% endfor %}
                </dl></dd>
            {% endif %}
            {% if show_stacks and stacks_of|get:p.id %}
                {% for s in stacks_of|get:p.id|dictsort:"id" %}
                    <dd data-type="stack"><dl><dt>
                      <a data-type="stack" href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
                          onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}).catch(CATMAID.handleError);return false">{{ s.title }}
                          </a>
                    </dt>
                    {% if s.comment %}
                        <dd data-type="comment"><em>{{ s.comment|safe }}</em></dd>
                    {% endif %}
                    {% if show_mirrors %}
                      {% for m in s.stackmirror_set.all %}
                        <dd data-type="stackmirror">
                          <a data-type="stackmirror" href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
                              onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}, undefined, {{forloop.counter0}}).catch(CATMAID.handleError);return false">{{ m.title }}</a>
                        </dd>
                      {% endfor %}
                    {% endif %}
                    </dl></dd>
                {% endfor %}
            {% endif %}
            {# Optionally, add the the neuron catalogue link #}
            {% if p.is_catalogueable and catalogue_link %}
                <dd><a href="{{ settings.CATMAID_URL }}{{ p.id }}">Browse the Neuron Catalogue</a></dd>
            {% endif %}
        </dl>
        {% if sample_images %}
            </td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
{% if sample_images %}</table>{% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
