{% load common %}
{% load data_view_config %}
{% include "catmaid/common_data_view_header.html" %}

{% with show_stackgroups=config|get_or_none:"show_stackgroups"|default_if_none:1 %}
{% with show_stacks=config|get_or_none:"show_stacks"|default_if_none:1 %}
{% with show_mirrors=config|get_or_none:"show_mirrors"|default_if_none:0 %}
{% with catalogue_link=config|get_or_none:"catalogue_link"|default_if_none:1 %}
{% with sample_images=config|get_or_none:"sample_images"|default_if_none:0 %}
{% with sample_mirror_index=config|get_or_none:"sample_mirror_index"|default_if_none:0 %}
{% with sample_slice=config|get_or_none:"sample_slice"|default_if_none:"center" %}
{% with sample_width=config|get_or_none:"sample_width"|default_if_none:-1 %}
{% with sample_height=config|get_or_none:"sample_height"|default_if_none:-1 %}

<table>
{% for p in projects %}
	{% if show_stacks and stacks_of|get:p.id or show_stackgroups and stackgroups_of|get:p.id %}
	<tr>
		<td class="projectname">{{ p.title }}</td>
    {% if show_stackgroups %}
      {% for sg in stackgroups_of|get:p.id|dictsort:'id' %}
          <td class="stackname, stackgroup">
          <a data-type="stackgroup" href="?pid={{ p.id }}&tool=navigator&sg={{ sg.id }}"
            onclick="CATMAID.openStackGroup({{p.id}}, {{sg.id}}).catch(CATMAID.handleError);return false"
            title="Stack group #{{ sg.id }}">{{ sg.title }}</a>
        </td>
      {% endfor %}
    {% endif %}
    {% if show_stacks %}
      {% for s in stacks_of|get:p.id|dictsort:'id' %}
        {% if sample_images %}
          <td class="stackimage">
          {# Get the wanted slice #}
          {% with slice=s|get_slice:sample_slice %}
          {% if slice|is_none %}
            Couldn't find requested slice: {{ sample_slice }}
          {% elif s.stackmirror_set.all|length %}
            <figure>
            <a href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
                onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}).catch(CATMAID.handleError);return false">
              {% with s.stackmirror_set.all|dictsort:'position'|get:sample_mirror_index as mirror %}
                <img class="lazy"
                  data-src="{{ mirror.image_base }}{{ slice }}/small.{{ mirror.file_extension }}"
                  alt="Sample image for {{ s.title }} on slice {{ slice }}"
                  title="{{ s.comment|striptags|safe }}"
                  {% if sample_width > -1 %} width="{{ sample_width }}" {% endif %}
                  {% if sample_height > -1 %} height="{{ sample_height }}" {% endif %} />
              {% endwith %}
            </a>
            <figcaption>{{s.comment|safe}}</figcaption>
            </figure>
          {% endif %}
          {% endwith %}
        {% else %}
          <td class="stackname">
            <a data-type="stack" href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
                onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}).catch(CATMAID.handleError);return false" title="{{s.comment}}">
              {{ s.title }}</a>
        {% endif %}
        {% if show_mirrors %}
          <dl>
          {% for m in s.stackmirror_set.all %}
            <dd data-type="stack">
              <a data-type="stack" href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
                  onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}, undefined, {{forloop.counter0}}).catch(CATMAID.handleError);return false">{{ m.title }}</a>
            </dd>
          {% endfor %}
          </dl>
        {% endif %}
        </td>
      {% endfor %}
    {% endif %}
		{% if p.is_catalogueable and catalogue_link %}
			<td class="stackname">
				<a href="{{ settings.CATMAID_URL }}{{ p.id }}">Neuron Catalogue</a>
			</td>
		{% endif %}
	</tr>
	{% endif %}
{% endfor %}
</table>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
