{% block content %}

<div class="project-stats">
<h3>Contribution Record</h3>
<p>
  <div class="left">
  beween <input type="text" class="stats-history-setting"
      id="stats-history-start-date" />
  and <input type="text" class="stats-history-setting"
      id="stats-history-end-date" />
  <input type="button" class="stats-history-setting"
      id="stats-history-refresh" value="Refresh" />
  </div>
  <div class="right">
    Time unit
    <select id="stats-time-unit" class="stats-history-setting">
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
  </div>
</p>
<div class="clear">
  <br />
  per cell values: new cable length (nm) / completed connector links / reviewed nodes
  <table cellpadding="0" cellspacing="0" border="1" class="project-stats"
      id="project_stats_history_table">
  </table>
</div>
<br clear="all" />

<h3>Nodes created by user</h3>
<div id="piechart_treenode_holder"></div>
<br clear="all" />
</div>

{% endblock %}

