{% load common %}
{% load data_view_config %}
{% include "catmaid/common_data_view_header.html" %}

{% with sort=config|get_or_none:"sort"|default_if_none:1 %}
{% with filter_tags=config|get_or_none:"filter_tags"|default_if_none:0 %}
{% with highlight_tags=config|get_or_none:"highlight_tags"|default_if_none:0 %}
{% with row_tags=config|get_or_none:"row_tags"|default_if_none:0 %}
{% with col_tags=config|get_or_none:"col_tags"|default_if_none:0 %}
{% with linked_stacks=config|get_or_none:"linked_stacks"|default_if_none:"all" %}
{% with force_stack_list=config|get_or_none:"force_stack_list"|default_if_none:0 %}
{% with catalogue_link=config|get_or_none:"catalogue_link"|default_if_none:1 %}
{% with sample_images=config|get_or_none:"sample_images"|default_if_none:0 %}
{% with sample_mirror_index=config|get_or_none:"sample_mirror_index"|default_if_none:0 %}
{% with sample_slice=config|get_or_none:"sample_slice"|default_if_none:"center" %}
{% with sample_width=config|get_or_none:"sample_width"|default_if_none:-1 %}
{% with sample_height=config|get_or_none:"sample_height"|default_if_none:-1 %}

{% if not row_tags or not col_tags %}
	There are no row or no column tags defined. Without these, this
	data view can't be rendered. Please adjust your configuration.
{% else %}
{% if highlight_tags %}<p>(Highlighted tags: {{ highlight_tags|join:", " }})</p>{% endif %}
<table>
	<tr>
		{# Have one empty field in the upper left corner #}
		<td></td>
		{% for ct in col_tags %}
			<td class="head">{{ ct }}</td>
		{% endfor %}
	</tr>
	{% for rt in row_tags %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td class="head">{{ rt }}</td>
			{% for ct in col_tags %}
				{% with row_set=tag_index|get:rt %}
				{% with tpids=tag_index|get:ct|intersect:row_set %}
				{% pids_to_projects tpids project_index sort as tprojects %}
				{% cycle 'even' 'odd' as rowtype silent %}
				{% if sample_images %}
					<td class="{{ rowtype }}-stackimage"
						title="There are {{ tprojects|length }} projects for the tags {{ ct }} and {{ rt }}.">
				{% else %}
					<td class="{{ rowtype }}-stackname"
						title="There are {{ tprojects|length }} projects for the tags {{ ct }} and {{ rt }}.">
				{% endif %}
				{% for p in tprojects %}
					{% with stacks=stacks_of|get:p.id|filter_stacks:linked_stacks %}
					{% is_highlighted p.id highlight_tags tag_index as highlight %}

					{# Make the project name a link if we are not forced to have #}
					{# a stack list and only one stack is available. Draw a definiton #}
					{# list otherwise. #}
					{% if not force_stack_list and stacks|length == 1 and not sample_images %}
						<a {% if highlight %}class="highlight" {% endif %}
								data-type="stack"
								href="?pid={{ p.id }}&tool=navigator&sid0={{ stacks.0.id }}&s0=1"
								onclick="CATMAID.openProjectStack({{p.id}},{{stacks.0.id}}).catch(CATMAID.handleError);return false">{{ p.title }}</a><br />
					{% elif sample_images %}
						{% for s in stacks %}
							{% with slice=s|get_slice:sample_slice %}
							<a data-type="stack" href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1"
									onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}).catch(CATMAID.handleError);return false">
								{% with s.stackmirror_set.all|dictsort:'position'|get:sample_mirror_index as mirror %}
									<img class="lazy"
										data-src="{{ mirror.image_base }}{{ slice }}/small.{{ mirror.file_extension }}"
										alt="Sample image for {{ s.title }} on slice {{ slice }}"
										title="{{ s.comment }}"
										{% if sample_width > -1 %} width="{{ sample_width }}" {% endif %}
										{% if sample_height > -1 %} height="{{ sample_height }}" {% endif %} />
								{% endwith %}
							</a>
							{% endwith %}
						{% endfor %}
					{% else %}
						<dl>
							<dt>{{ p.title }}</dt>
							{% for s in stacks %}
							<dd><a data-type="stack" {% if highlight %}class="highlight" {% endif %}
								href="#" onclick="CATMAID.openProjectStack({{p.id}}, {{s.id}}).catch(CATMAID.handleError)"
								title="{{ s.comment }}">{{ s.title }}</a>
							</dd>
							{% endfor %}
							{# Optionally, add the the neuron catalogue link #}
							{% if p.is_catalogueable and catalogue_link %}
								<dd><a href="{{ settings.CATMAID_URL }}{{ p.id }}">Neuron Catalogue</a></dd>
							{% endif %}
						</dl>
					{% endif %}

					{% endwith %}
					{% endfor %}
					{% if tprojects|length == 0 %}
						-
					{% endif %}
				</td>
				{% endwith %}
				{% endwith %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
