{% load common %}
{% load data_view_config %}
{% include "catmaid/common_data_view_header.html" %}

{% with catalogue_link=config|get_or_none:"catalogue_link"|default_if_none:1 %}
{% with sample_images=config|get_or_none:"sample_images"|default_if_none:0 %}
{% with sample_slice=config|get_or_none:"sample_slice"|default_if_none:"center" %}
{% with sample_width=config|get_or_none:"sample_width"|default_if_none:-1 %}
{% with sample_height=config|get_or_none:"sample_height"|default_if_none:-1 %}

<table>
{% for p in projects %}
	{% if stacks_of|get:p.id %}
	<tr>
		<td class="projectname">{{ p.title }}</td>
		{% for s in stacks_of|get:p.id|dictsort:'id' %}
			{% if sample_images %}
				<td class="stackimage">
				{# Get the wanted slice #}
				{% with slice=s|get_slice:sample_slice %}
				{% if slice|is_none %}
					Couldn't find requested slice: {{ sample_slice }}
				{% else %}
					<figure>
					<a href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1" onclick="openProjectStack({{p.id}}, {{s.id}});return false">
						<img src="{{ s.image_base }}{{ slice }}/small.{{ s.file_extension }}"
							alt="Sample image for {{ s.title }} on slice {{ slice }}"
							title="{{ s.comment|striptags|safe }}"
							{% if sample_width > -1 %} width="{{ sample_width }}" {% endif %}
							{% if sample_height > -1 %} height="{{ sample_height }}" {% endif %} />
					</a>
					<figcaption>{{s.comment|safe}}</figcaption>
					</figure>
				{% endif %}
				{% endwith %}
				</td>
			{% else %}
				<td class="stackname"><a href="?pid={{ p.id }}&tool=navigator&sid0={{ s.id }}&s0=1" onclick="openProjectStack({{p.id}}, {{s.id}});return false" title="{{s.comment}}">{{ s.title }}</a></td>
			{% endif %}
		{% endfor %}
		{% if p.is_catalogueable and catalogue_link %}
			<td class="stackname">
				<a href="{{ settings.CATMAID_URL }}{{ p.id }}">Neuron Catalogue</a>
			</td>
		{% endif %}
	</tr>
	{% endif %}
{% endfor %}
</table>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
