{% load compressed %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CATMAID front-end tests (using QUnit)---to be run with manage.py testerver</title>
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.17.1.css">

    {% for f in JS_FILES %}
      {% compressed_js f %}
    {% endfor %}
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="//code.jquery.com/qunit/qunit-1.17.1.js"></script>
    <script src="{{ STATIC_URL }}js/tests/libs/sinon-1.14.1.js"></script>
    <script src="{{ STATIC_URL }}js/tests/libs/sinon-qunit-1.0.0.js"></script>
    <script src="{{ STATIC_URL }}js/tests/setup.js"></script>

    <script src="{{ STATIC_URL }}js/tests/test_misc.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_neuronnameservice.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_arbor.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_events.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_stack.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_tools.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_tilelayer.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_submitter.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_svgoverlay.js"></script>
  </body>
</html>
