<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CATMAID front-end tests (using QUnit)---to be run with manage.py testerver</title>
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.14.0.css">

		<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}libs/catmaid/neuron_name_service.js"></script>
    <script src="{{ STATIC_URL }}libs/catmaid/Arbor.js"></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="//code.jquery.com/qunit/qunit-1.14.0.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_example.js"></script>

    <script src="{{ STATIC_URL }}js/tests/test_neuronnameservice.js"></script>
    <script src="{{ STATIC_URL }}js/tests/test_arbor.js"></script>
  </body>
</html>
