{% extends "admin/base_site.html" %}
{% load compressed %}
{% load i18n %}

{% block extrahead %}

{% compressed_css 'libraries' %}
{% compressed_js 'jquery-lib' %}

{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}

<h2>User Analytics</h2>

<select id="logtable_username" type=""></select>
<button id="refresh" >Refresh</button>
Start date: <input type="text" id="start_date" />
End date: <input type="text" id="end_date" />
<br />
<img src="{{ catmaid_url }}useranalytics" id="useranalyticsimg" />

<script type="text/javascript">

  $.ajax({
    "dataType": 'json',
    "type": "GET",
    "cache": false,
    "url": '{{ catmaid_url }}user-list',
    "data": {},
    "success": function( json ) {
      var select = document.getElementById("logtable_username");
      select.options.length = 0; // remove all elements
      json.sort(function(u1, u2) {
        return u1.last_name.toLowerCase() > u2.last_name.toLowerCase() ? 1 : -1;
      }).forEach(function(user) {
          var option = document.createElement("option");
          if (-1 == user.id) return;
          option.text = user.full_name + " (" + user.login + ")";
          option.value = user.id;
          select.options.add(option);
      });
    }
  });

  $('#refresh').on('click', function() {
      $.blockUI();
      try {
				var format = function(s) {
					var v = s.split('/');
					return v[2] + '-' + v[0] + '-' + v[1];
				};

        var start = format(document.getElementById('start_date').value),
            end = format(document.getElementById('end_date').value);

        document.getElementById("useranalyticsimg").src = "{{ catmaid_url }}useranalytics?userid=" + $('#logtable_username').val() + "&start=" + start + "&end=" + end;
      } catch (e) {
        alert(e);
        console.log(e, e.stack);
      }
      $.unblockUI();
  });

	$(function() {
    var today = new Date();
		var back = new Date(today.getTime() - 10 * 24 * 60 * 60 * 1000);

		var start_date = $("#start_date");
		start_date.datepicker();
		start_date.val(back.getMonth() + "/" + back.getDate() + "/" + back.getFullYear());

		var end_date = $("#end_date");
		end_date.datepicker();
		end_date.val(today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear());
  });

</script>

{% endblock %}

