{% extends "admin/base_site.html" %}
{% load pipeline %}
{% load i18n %}
{% load common %}

{% block extrahead %}

{% stylesheet 'libraries' %}
{% javascript 'jquery-lib' %}
{% javascript 'catmaid-lib' %}

{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}

<h2>User Analytics</h2>

<select id="logtable_username" type=""></select>
<select id="project">
  <option value="all">All projects</option>
</select>
Start date: <input type="text" id="start_date" />
End date: <input type="text" id="end_date" />
<label>Max inactivity (min)<input type="number" min="0"
      size"1" value="10" id="max_inactivity" /></label>
<label><input type="checkbox" id="all_writes" />All writes</label>
<button id="refresh" >Refresh</button>
<br />
<img src="{{ CATMAID_URL }}useranalytics" id="useranalyticsimg" />

<script type="text/javascript">
  var STATIC_URL_JS = '{{ STATIC_URL|escapejs }}';
  var django_url = "{{ CATMAID_URL }}";

  CATMAID.configure("{{ CATMAID_URL }}",
            "{{ STATIC_URL|escapejs }}",
            "{{ STATIC_EXTENSION_URL|escapejs }}",
            "{% csrf_cookie_name %}",
            undefined,
            {{ HISTORY_TRACKING|make_js_bool }});
  CATMAID.CLIENT_VERSION = "{% catmaid_version %}";

  var allWritesCb = document.getElementById("all_writes");
  if (CATMAID.historyTracking) {
    allWritesCb.setAttribute('checked', 'checked');
    allWritesCb.title = "Include all writing operations in statistics (e.g. annotating, taggin).";
  } else {
    allWritesCb.setAttribute('disabled', 'disabled');
    allWritesCb.title = "History tracking needs to be enabled for this functionality";
  }

  $.ajax({
    "dataType": 'json',
    "type": "GET",
    "cache": false,
    "url": '{{ CATMAID_URL }}user-list',
    "data": {},
    "success": function( json ) {
      var select = document.getElementById("logtable_username");
      select.options.length = 0; // remove all elements
      json.sort(function(u1, u2) {
        return u1.last_name.toLowerCase() > u2.last_name.toLowerCase() ? 1 : -1;
      }).forEach(function(user) {
          var option = document.createElement("option");
          if (-1 == user.id) return;
          option.text = user.full_name + " (" + user.login + ")";
          option.value = user.id;
          select.options.add(option);
      });
    }
  });

  $.ajax({
      "dataType": 'json',
      "type": "GET",
      "cache": false,
      "url": '{{ CATMAID_URL }}projects/',
      "data": {},
      "success": function(json) {
        var select = document.getElementById("project");
        json.forEach(function(p) {
          select.options.add(new Option(p.title, p.id));
        });
      }
  });

  $('#refresh').on('click', function() {
      $.blockUI();
      try {
				var format = function(s) {
					var v = s.split('/');
					return v[2] + '-' + v[0] + '-' + v[1];
				};

        var start = format(document.getElementById('start_date').value),
            end = format(document.getElementById('end_date').value),
            maxInactivity = document.getElementById('max_inactivity').value,
            allWrites = document.getElementById("all_writes").checked;
            project_id = $('#project').val();

        document.getElementById("useranalyticsimg").src =
            "{{ CATMAID_URL }}useranalytics" +
            "?userid=" + $('#logtable_username').val() +
            (project_id === 'all' ? '' : '&project_id=' + project_id) +
            "&start=" + start +
            "&end=" + end +
            "&all_writes=" + allWrites +
            "&max_inactivity=" + maxInactivity;
      } catch (e) {
        alert(e);
        console.log(e, e.stack);
      }
      $.unblockUI();
  });

	$(function() {
    var today = new Date();
		var back = new Date(today.getTime() - 10 * 24 * 60 * 60 * 1000);

		var start_date = $("#start_date");
		start_date.datepicker();
		start_date.val(back.getMonth() + "/" + back.getDate() + "/" + back.getFullYear());

		var end_date = $("#end_date");
		end_date.datepicker();
		end_date.val(today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear());
  });

</script>

{% endblock %}

