{% load guardian_tags %}
<html>

<body>
{% block classification-content %}
{% get_obj_perms user for project as "project_perms" %}
{% get_obj_perms user for workspace as "workspace_perms" %}

{% if not "can_annotate" in project_perms %}
    <p>Unfortunately, you don't have the permissions to create new annotation
    graphs for the current project.</p>
{% elif not "can_annotate" in workspace_perms %}
    <p>Unfortunately, you don't have the permissions to create new annotation
    graphs in the current workspace.</p>
{% elif num_root_classes = 0 %}
    <p>There are currently no valid classification ontologies available.<p>
    <p>Please create at least one classification ontology (e.g. with the help
    of the ontology editor) to start a new classification graph. A class is
    seen as the root node of a classification ontology if it is linked to the
    <em>classification_root</em> class with an <em>is_a</em> relation.</p>
{% else %}
    {% if num_graphs == 0 %}
        <p>There is currently no classification graph associated with this
        project. Feel free to create a new one.</p>
    {% endif %}

    <p>To create a new classification graph, please select an ontology
    that you would like the new graph to be based on and click on
    "Create".</p>

    <form method="post" id="add-new-classification-form"
          action="{% url 'add_classification_graph' project.id workspace.id %}">
        <p>
        {{ new_graph_form }}
        <input type="submit" value="Create" />
        </p>
    </form>

    <p>Alternatively, you can link an existing classification graph to
    this project. If you want to do so, please select the tree below
    and click "Link".</p>

    <form method="post" id="link-classification-form"
          action="{% url 'link_classification_graph' project.id workspace.id %}">
        <p>
        {{ link_graph_form }}
        <input type="submit" value="Link" />
        </p>
    </form>
{% endif %}
{% endblock %}

</body>
</html>
