{% load guardian_tags %}
{% block classification-content %}
<input type="hidden" id="link_id" value="{{ graph_id  }}" />
<input type="button" id="refresh_classification_graph" value="refresh" style="display:block; float:left;" />
&nbsp; <input type="checkbox" id="synchronize_classification_graph" checked="yes" /><label for="synchronize_classification_graph">Synchronize</label>
&nbsp; <input type="checkbox" id="display_super_classes" /><label for=display_super_classes">Display super-classes</label>
&nbsp; <input type="checkbox" id="display_previews" checked="yes" /><label for="display_previews">Previews</label>
{% get_obj_perms user for project as "project_perms" %}
{% if "can_annotate" in project_perms %}
    &nbsp; <input type="checkbox" id="display_edit_tools" checked="yes" /><label for="display_edit_tools">Edit tools</label><br />
    &nbsp; <a id="remove_classification_link" href="{% url 'remove_classification_graph' project.id workspace.id graph_id %}">Remove this graph</a>
    &nbsp; <a id="add_classification_link" href="{% url 'add_classification_graph' project.id workspace.id %}">Add/Link new graph</a>
    &nbsp; <a id="autofill_classification_link" href="{% url 'autofill_classification_graph' project.id workspace.id graph_id %}">Auto fill this graph</a>
{% endif %}
<br clear="all" />
<div id="classification_graph_object"></div>
{% endblock %}
