from settings_base import *
import os
import sys

DATABASES = {
    'default': {
        'ENGINE': 'custom_postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'catmaid',                    # Or path to database file if using sqlite3.
        'USER': 'catmaid_user',               # Not used with sqlite3.
        'PASSWORD': 'catmaid_user_password',  # Not used with sqlite3.
        'HOST': '',                           # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                           # Set to empty string for default. Not used with sqlite3.
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'reola!-865!v@95cq*#8c@c^#h#bw_u6&89!33y6^_3&!kqcva'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    '/home/mark/catmaid-local-instance/django/templates'
)

DEBUG = True
TEMPLATE_DEBUG = DEBUG

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Europe/Zurich'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-gb'

SITE_ID = 1

CATMAID_URL = '/catmaid/'
STATICFILES_URL = '/catmaid/dj-static/'
STATICFILES_LOCAL = '/home/mark/catmaid-local-instance/django/static/'

# Local path to store HDF5 files
# File name convention: {projectid}_{stackid}.hdf
HDF5_STORAGE_PATH = '/home/stephan/dev/CATMAID/django/hdf5/'

PROJECT_ROOT = os.path.realpath(os.path.join(
        os.path.dirname(__file__), '..', '..'))
for subdirectory in ('projects', 'applications', 'lib'):
    sys.path.insert(0, os.path.join(PROJECT_ROOT, subdirectory))
