{# -*- mode: espresso; espresso-indent-level: 2; indent-tabs-mode: nil -*- #}
{# vim: set softtabstop=2 shiftwidth=2 tabstop=2 expandtab: #}

{% block content %}

<script type="text/javascript">

  function new_window_with_return( url ) {
    var selectionTables = SelectionTable.prototype.getInstances();
    if (0 === selectionTables.length) {
      alert("Open and populate a Selection Table first!");
      return;
    }
    var dialog = new OptionsDialog("Export NetworkX");
    var choiceST = dialog.appendChoice("Source: ", "neuroml-st",
        selectionTables.map(function(item) { return item.getName(); }),
        selectionTables.map(function(item, i) { return i; }),
        0);

    dialog.onOK = function() {
      jQuery.ajax({
        url: django_url + project.id + url,
        type: "POST",
        dataType: "text",
        data: { skeleton_list: selectionTables[choiceST.selectedIndex].getSelectedSkeletons() },
        success: function (data) {
					var blob = new Blob([data], {type: "text/plain"});
					saveAs(blob, "networkx_graph.json");
        }
      });
    }
    dialog.show();
  };

  function graphexport_nxjson() {
    new_window_with_return( "/graphexport/json" );    
  }

	function graphexport_NeuroML181() {
		var dialog = new OptionsDialog("Export NeuroML Level 3");
		var choice = dialog.appendChoice("Source: ", "neuroml-choice",
				['Neurons in Selection Table and their mutual synapses',
				 'Active neuron and all its input synapses',
				 'Active neuron and input synapses only from neurons in Selection Table'],
				[0, 1, 2],
				0);
		var selectionTables = SelectionTable.prototype.getInstances();
		var choiceST = dialog.appendChoice("Selection table: ", "neuroml-st",
				selectionTables.map(function(item) { return item.getName(); }),
				selectionTables.map(function(item, i) { return i; }),
				0);

		dialog.onOK = function() {
			var post;
			switch (choice.selectedIndex) {
				case 0:
					if (0 === selectionTables.length) {
						alert("Create and fill out a selection table first!");
						return;
					}
					post = {skids: selectionTables[choiceST.selectedIndex].getSelectedSkeletons()};
					if (!post.skids || 0 === post.skids.length) {
						alert("Add first one or more skeletons to the Selection Table!");
						return;
					}
					break;
				case 1:
					post = {skids: [SkeletonAnnotations.getActiveSkeletonId()]};
					if (!post.skids || 0 === post.skids.length) {
						alert("Select a neuron first!");
						return;
					}
					break;
				case 2:
					post = {skids: [SkeletonAnnotations.getActiveSkeletonId()],
					        inputs: selectionTables[choiceST.selectedIndex].getSelectedSkeletons()};
					if (!post.skids || 0 === post.skids.length) {
						alert("Select a neuron first!");
						return;
					} else if (!post.inputs || 0 === post.inputs.length) {
						alert("Add first one or more skeletons to the Selection Table!");
						return;
					}
					break;
			}
			post.mode = choice.selectedIndex;

      jQuery.ajax({
        url: django_url + project.id + "/neuroml/neuroml_level3_v181",
        type: "POST",
        dataType: "text",
        data: post,
        success: function (json) {
					var blob = new Blob([json], {type: "text/plain"});
					saveAs(blob, "circuit.neuroml");
				}});
		};
		dialog.show();
	};

</script>


<h3>Export Graph</h3>

The selected skeletons from the <i>Selection Table</i> are used to extract the subnetwork (in different formats) or
summary statistics.

<ul>

  <li><a id='export-networkx' href='#'><strong>NetworkX JSON graph</strong></a><br />
    Using Python and <a href target='_new' href='http://networkx.github.io/documentation/latest/reference/readwrite.json_graph.html'>NetworkX</a>, you can import the returned file in your Python shell for further analysis.<br />
    <pre>
    import networkx as nx
    from networkx.readwrite import json_graph
    g=json_graph.load(open('my_downloaded_file.json'))
    g.nodes(data=True)
    g.edges(data=True)
    nx.write_graphml( g, 'mynetwork.graphml' )
    </pre></li>

	<li><a id='export-neuroml181' href='#'><strong>NeuroML 1.8.1 (Level 3, NetworkML)</strong></a></br />
	For modeling with <a href="http://www.neuroconstruct.org/">neuroConstruct</a> and then e.g. the <a href="http://www.neuron.yale.edu/neuron/">NEURON</a> simulator.</li>

</ul>

{% endblock %}
