celery==3.1.9
cssmin==0.2.0
Cython==0.23.4
distribute==0.7.3
Django==1.6.11
django-adminplus==0.3
django-celery==3.1.9
django-devserver==0.8.0
django-guardian==1.2.5
django-pipeline==1.3.25
git+https://github.com/aschampion/django-rest-swagger@057c47315cddbfebcc31150308fb9c972c2f7cd2#egg=django-rest-swagger
django-taggit==0.11.2
djangorestframework==3.2.4
docutils==0.12
h5py==2.5.0
jsonfield==1.0.0
kombu==3.0.12
Markdown==2.6.2
matplotlib==1.3.1
mock==1.0.1
networkx==1.7
numpy==1.9.2
pgmagick==0.5.10
pillow==2.3.0
psycopg2==2.6.1
Pygments==2.0.2
python-dateutil==2.1
python-libuuid==0.9.0
PyYAML==3.10
scipy==0.11.0
south==1.0.2
Sphinx==1.3.1
sqlparse==0.1.3
wsgiref==0.1.2
