celery==4.1.0
cssmin==0.2.0
Cython==0.23.4
Django==1.10.8
django-adminplus==0.5
django-formtools==2.0
django-guardian==1.4.9
django-pipeline==1.6.13
git+https://github.com/tomka/django-rest-swagger@c38521b60c073252c68dd53fc900d37355cf8c59#egg=django-rest-swagger
django-taggit==0.22.1
djangorestframework==3.4.3
jsonfield==2.0.2
kombu==4.1.0
matplotlib==1.4.0; platform_python_implementation != 'PyPy'
mock==1.0.1
networkx==1.7
numpy==1.12.0
pgmagick==0.6.7; platform_python_implementation != 'PyPy'
pillow==3.0.0; platform_python_implementation != 'PyPy'
progressbar2==3.6.2
psycopg2==2.7.3.1; platform_python_implementation != 'PyPy'
psycopg2cffi==2.7.6;  platform_python_implementation == 'PyPy'
Pygments==2.0.2
python-dateutil==2.1
python-libuuid==0.9.0; platform_python_implementation != 'PyPy'
pytz==2017.2
PyYAML==3.12
requests==2.18.4
scipy==0.18.1; platform_python_implementation != 'PyPy'
sqlparse==0.1.19
ujson==1.35
