div.sliceView div.canvasOverlay
{
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    /*cursor:pointer;
  border:solid 2px #0000FF;*/

}

div.canvasControls
{
    position:absolute;
    top:40px;
    right:30px;
    margin:0px;
    padding:0px;
    border:solid 2px #FF0000;
    /*cursor:pointer;
  border:solid 2px #0000FF;*/

}

div.colorWheelCanvas
{
    position:absolute;
    top:0px;
    left:450px;
    margin:0px;
    padding:0px;
    /*border:solid 2px #FF0000;
    cursor:pointer;
  border:solid 2px #0000FF;*/

}