div.console
{
	position:absolute;
	left:0px;
	bottom:32px;
	margin:0px;
	padding:0px;
	width:100%;
	/*height:32px;*/
	min-height:32px;
	background-color:#F0F0F0;
	border:none;
	/*border-top:solid 4px #000000;*/
}
div.console pre
{
	margin:8px;
	font-family:monospace;
	font-size:9px;
	color:#000000;
	float: left;
}
