div.toolbar div.toolbar_fill
{
	display:none;
}

div.toolbar div.box,
div.toolbar div.box_right
{
	height:32px;
	width:expression( ( ieCSSWidth( this ) + 20 ) + "px" );
}

/* menu */

div.menu_item table
{
	font-size:11px;
}
