div.projectView
{
	position:absolute;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

div.projectView div.projectDataView
{
	position:absolute;
	margin:0px;
	padding:0px;
	overflow:auto;
	height:100%;
	background:#FF0000;
}
