{% extends "admin/guardian/model/change_form.html" %}
{% load i18n  %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript">
	(function ($) {$(document).ready(function() {
		// update the data view type comment according to selection
		update_data_view_comment = function() {
			$.ajax({
				type: 'GET',
				url: "{% url 'catmaid:get_dataview_type_comment' %}",
				data: {'data_view_type_id': $('#id_data_view_type').val()},
				success: function(data, status) {
					$('#data_view_config_help').text(data.comment);
				},
				datatype: "json"
				});
		};
		// Update config comment on data view type change
		$('#id_data_view_type').change(update_data_view_comment);
		// Do an initial update
		update_data_view_comment();
	});})(django.jQuery);
</script>
{% endblock %}
