{% extends "vncbrowser/common.html" %}

{% block title %}Login to CATMAID{% endblock %}

{% block extrascript %}
    <script type="text/javascript" charset="utf-8">
      var catmaidLoginURL = "{{ catmaid_login|escapejs }}";
      var returnURL = "{{ return_url|escapejs }}";
      var loginToCATMAID = function() {
          $('#message').show().text('Logging in...');
          $('#error').hide();
          var username = document.getElementById('username').value;
          var password = document.getElementById('password').value;
          $.post(catmaidLoginURL,
            {'name': username, 'pwd': password},
            function(data) {
                $('#message').hide();
                if (data.error) {
                    $('#error').show().text("Login failed");
                } else if (data.notice) {
                    alert("Notice: "+data.notice);
                    $('#error').show().text("Login failed");
                } else if (data.id) {
                    if (!returnURL) {
                        returnURL = "{{ catmaid_url|escapejs }}";
                    }
                    document.location.href = returnURL;
                }
          }, "json");
      };
      var staticURLPrefix = "{{static|escapejs}}";
    </script>
{% endblock %}

{% block main %}

<h2>Login to CATMAID</h2>

<p style="color: red; display: none" id="error"></p>
<p style="display: none" id="message">Logging in...</p>

<form method="post" action="{{ catmaid_login }}" onsubmit="loginToCATMAID(); return false">
  <p>username: <input type="text" id="username" name="username" size="8"/></p>
  <p>password: <input type="password" id="password" name="password" size="8"/></p>
  <p><input type="submit" id="login" name="login" value="Login"></p>
</form>

{% endblock %}
