.neuron_annotations_query_fields_label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.neuron_annotations_query_field_label {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.neuron_annotations_query_field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.neuron_annotations_query_results_table {
  overflow: auto;
  padding-bottom: 50px;
}

.neuron_annotations_query_footer {
  position: relative;
  margin: 1em 0 1em 0;
  clear: both;
}

.resultTags {
  margin: 4px 0;
  padding: 0;
}

.resultTags li {
  display: inline-block;
  background-color: #eef;
  list-style-type: none;
  padding: 0 0 0 6px;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.resultTags li:hover {
  background-color: #eee;
}

.resultTags div.remove_annotation {
  display: inline;
  background-image: url(../images/minus_small.png);
  background-color: #eef;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 17px 0 4px;
  cursor: pointer;
}
