div.projectView {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.projectView div.projectDataView {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  background: #FF0000;
}
