html,
body {
  border: none;
  min-width: 300px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  touch-action: none;
}

input,
textarea,
p,
dl,
select,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
}

input:not([type]),
input[type=text],
input[type=search],
input[type=number],
input[type=password] {/* csslint allow: outline-none */
  border: 0.5px solid #888;
  outline: none;
  padding: 0.1em 0.2em;
}

input[type=button],
button,
select {
  padding: 0 0.1em 0 0.1em;
}

select {
  padding-bottom: 0.1em;
}

input:focus {
  box-shadow: 0 0 2px #4D90FE;
}

input:not([type=button]):focus {
  border: 0.5px solid #4D90FE;
}

select:focus {
  box-shadow: 0 0 2px #4D90FE;
}

select.wide-select {
  min-width: 20em;
}

h1 {
	margin: 1.5em 16px 0.5em 20px;
	font-size: 25px;
	line-height: 1.1em;
	font-weight: normal;
}

h2 {
	margin: 1.5em 16px 0.5em 20px;
	font-size: 16px;
	line-height: 1.1em;
	font-weight: bold;
}

p,
dl {
	margin: 1.5em 16px 0.5em 20px;
}

.data-view [role=filter-indicator].filtering {
	padding: 4px 24px 4px 0;
	vertical-align: middle;
	background: url(../images/wait_bgwhite.gif) no-repeat right center;
}

dt,
dd {
	margin-bottom: 0.5em;
}

dl p {
	font-style: italic;
	margin: 0;
}

.wait_bgwhite,
div.form .wait_bgwhite {
	padding: 4px 0 4px 24px;
	vertical-align: middle;
	background: url(../images/wait_bgwhite.gif) no-repeat left center;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1em;
}

table tr.highlight,
table tr.highlight td,
table tr.highlight.even td,
table tr.highlight.odd td {
  background-color: #d6ffb5
}

label input {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

label.checkbox-label {
  margin: 0.1em 0.35em;
  display: inline-block;
}

label.checkbox-label input {
  vertical-align: middle;
}

.fa-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cm-center {
  text-align: center;
}

.cm-left {
  text-align: left;
}

.cm-right {
  text-align: right;
}

.cm-top {
  vertical-align: top;
}

.cm-middle {
  vertical-align: middle;
}

.cm-bottom {
  vertical-align: bottom;
}

.clickable {
  cursor: pointer;
}

#imprint {
	height: 32px;
	width: 100%;
	background: url(../images/bar32_bg.gif) repeat-x left top;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	border-top: solid 4px #000000;
}

#imprint p {
	border: none;
	margin: 0;
	padding: 4px 0 0 20px;
	vertical-align: middle;
	line-height: 20px;
}

#spinner {
  display: none;
}

#spinner_box {
  width: 20px;
  height: 20px;
  padding: 6px 10px;
  position: relative;
}

#context-help-button {
  font-size: 1.55em;
  margin-left: auto;
  margin-right: auto;
  color: #9191c3;
  position: absolute;
  bottom: auto;
}

#context-help-button:hover {
  color: #0000ff;
  cursor: pointer;
}

#context-help {
  position: absolute;
  width: 35em;
  height: 30em;
  color: #fff;
  right: 0;
  margin-right: 2em;
  margin-top: 2.9em;
  overflow: visible;
  border: 1px white solid;
  background-color: #000;
  max-height: 65%;
  z-index: 10;
}

div#context-help {}

#context-help h1 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#context-help h1,
#context-help p {
  margin-left: 0.5em;
}
#context-help .content {
  opacity: 0.7;
  overflow: auto;
  margin-top: 1.2em;
  margin-bottom: 4em;
  height: calc(100% - 1.2em);
}

#context-help .close-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.3em;
  height: 1.2em;
  background-color: blue;
  color: white;
  text-align: center;
  opacity: 1;
}

#context-help .close-box:hover {
  cursor: pointer;
}

#content {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: auto;
	background: #FFFFFF;
}

/* Hide the browser warning messsage if all features are present */
html.mod-js.mod-opacity.mod-canvas.mod-svg.mod-webgl.mod-json.mod-promises #browser_unsupported {
  display: none;
}

/* Relative position and z-index on this div are important for .message
 * to show over other elements in IE6 */
#browser_unsupported {
  position: relative;
  z-index: 90;
  width: 100%;
  top: 0;
  left: 0;
}

#browser_unsupported .message {
  position: fixed;
  left: 30%;
  top: 20%;
  width: 40%;
  background: #FF8636;
  color: #000000;
  z-index: 99;
}

#browser_unsupported h1 {
  margin-bottom: 2em;
}

#browser_unsupported p {
  padding: 0.5em 2em 1.5em 2em;
  font-size: 14px;
  line-height: 1.2;
}

/**
 * Forms
 */
div.form {
  display: none;
}

div.form table {
  margin: 1.5em 16px 0.5em 20px;
}

div.form table td {
  padding-right: 1em;
  vertical-align: top;
}

div.form p {
  margin: 0;
  border: dashed 1px #FFFFFF;
  padding: 0.5em 0 0.5em 0;
}

div.form textarea,
div.form input,
div.form select {
  border: dashed 1px #AAAAAA;
  background: #F4F4F4;
  padding: 0.5em 1em 0.5em 1em;
}

div#data_view .header {
  margin: 1.5em 16px 0.5em 20px;
}

div#data_view .header img {
  float: left;
  height: 2em;
  margin-top: 0.2em;
  margin-left: 1em;
}

div#data_view .header h1 {
  float: left;
  margin: 0;
}

div#data_view table {
	margin:1.5em 16px 0.5em 20px;
	line-height:1.1em;
	font-weight:normal;
	border: 0;
}

div#data_view tr.odd {
	background-color: #E6E6E6;
}

div#data_view tr.even {
	background-color: #E2E4FF;
}

div#data_view td.projectname {
	font-weight:bold;
	vertical-align: top;
}

div#data_view td.stackimage,
div#data_view td.odd-stackimage,
div#data_view td.even-stackimage {
	vertical-align: top;
	text-align: right;
}

div#data_view td.odd-stackimage {
	background-color: #E6E6E6;
}

div#data_view td.even-stackimage {
	background-color: #E2E4FF;
}

div#data_view td.stackname,
div#data_view td.odd-stackname,
div#data_view td.even-stackname {
	vertical-align: top;
	text-align: left;
}

div#data_view td.odd-stackname {
	background-color: #E6E6E6;
}

div#data_view td.even-stackname {
	background-color: #E2E4FF;
}

div#data_view td.head {
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	background-color: #FFFFFF;
}

div#data_view .highlight {
	font-weight:bold;
}

div#data_view figure {
  margin: 0 10px 11px 10px;
}

div#data_view .comment {
	font-style: italic;
}

div#data_view dl {
	margin: 1.0em 16px 0.5em 20px;
}

div#data_view dl a {
  font-weight: normal;
}

div#data_view dl  {
  font-weight: normal;
}

div#ontology_editor_widget div#ontology_known_roots {
	margin-top: 10px;
}

div#ontology_editor_widget span#known_root_names {
	font-style: italic;
}

div#ontology_editor_widget div#ontology_warnings {
  color: red;
}

div#classification_graph_object a {
  padding-bottom: 2px;
}

div[data-role=classification_graph_object] li.editnode a {
  padding-bottom: 3px;
  color: #767676;
}

div[data-role=classification_graph_object] li.editnode a.jstree-hovered,
div[data-role=classification_graph_object] li.editnode a.jstree-clicked {
  padding-bottom: 2px;
}

div[data-role=classification_graph_object] div.select_new_classification_instance {
  cursor: pointer;
  background: white;
  color: #767676;
  position: absolute;
  overflow: visible;
}

div[data-role=classification_graph_object] img.roiimage {
  position: relative;
  top: 0.3em;
}

#imagepreview {
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  padding: 5px;
  display: none;
  color: #fff;
}

div.clustering-content .indented {
  margin: 1.5em 16px 0.5em 20px;
}

div.clustering-content #distance_matrix td.lowertriangle {
  background-color: #CED8F6;
}

div.clustering-content .title {
	font-weight: bold;
}

/* This is needed to make jQuery's slideToggle() not override
* the overflow property to 'hidded' and thereby cause jumping. */
div.clustering-content .content {
  position: relative;
  overflow: visible !important;
}

.extend-box-open,
.extend-box-closed {
	width: 0;
	height: 0;
	float: left;
	margin-top: 1px;
	margin-right: 3px;
	border-style: solid;
}

.extend-box-open {
	border-width: 8px 4px 0 4px;
	border-color: #0000ff transparent transparent transparent;
}

.extend-box-closed {
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #0000ff;
}

.navigator_navi_bar {
  margin-top: 0.5em;
  width: 100%
}

.navigator_navi_bar .navigator_button {
  float: right;
  margin-right: 5px;
}

.navigator_content {
  clear: both;
  margin-top: 1em;
}

.navigator_content_option {
  float: left;
  clear: both;
}

.navigator_content.multi_table_node .dataTables_wrapper {
  min-height: 0;
  margin-bottom: 1em;
}

.navigator_content th a {
  text-decoration: underline !important;
}

.navigator_content th a:hover {
  text-decoration: none !important;
}

.navigator_content td input {
  margin-left: 0;
}

.navigator_content h1 {
  margin-left: 0.2em;
  font-size: 150%
}

.navigator_content p {
  margin-left: 0.2em;
}

table.neuron_annotations_query_fields {
  border-spacing: 0.5em 0.1em;
}

.neuron_annotations_query_results_table td {
  padding: 2px;
  vertical-align: top;
}

.neuron_annotations_query_results_table label input,
.neuron_annotations_query_results_table label a {
  margin-top: 0;
  vertical-align: top;
}

.neuron_annotations_query_results_table ul {
  margin-top: 0;
}

.neuron_annotations_query_results_table th input[type=checkbox] {
  padding: 3px;
  width: auto;
  margin-left: 6px;
  margin-right: -6px;
  float: left;
}

.neuron_annotations_query_results_table th label {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.neuron_annotations_query_results_table th input[type=radio] {
  width: auto;
}

.neuron_annotations_query_results_table li.remove_annotation {
  white-space: normal;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.catmaid ul.ui-tabs-nav li .ui-tabs-anchor {
  padding: .2em 1em;
}

.catmaid .ui-widget {
  font-size: 11px;
  font-family: sans-serif;
}

.catmaid ul.ui-tabs-nav {
  padding: 0;
}

.catmaid div.ui-tabs-panel {
  padding: 0.2em 0.2em 0.1em 0.2em;
}

.catmaid .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: #363636;
}

.padded-content,
.CMWFrame .padded-content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.buttonpanel {
  clear: both;
}

.buttonpanel .setting {
  float: unset;
  min-width: unset;
  max-width: unset;
  display: inline-block;
}

.buttonpanel .setting .description {
  width: unset;
}

.buttonpanel input,
.buttonpanel button {
  vertical-align: middle;
  margin-left: 0.3em;
}

.buttonpanel label {
  margin: 0.1em 0.35em;
  display: inline-block;
}

.buttonpanel p {
  display: inline-flex;
  padding-left: 0;
  margin: 0;
}

.buttonpanel .section-header {
  font-weight: bold;
  padding: 0 0.3em 0 1em;
}

.buttonpanel div.hSliderView {
  display: inline-block;
  float: none;
  top: 0.6em;
  height: 1.8em;
}

.buttonpanel p.hSliderInputView {
  margin: 0;
  display: inline-flex;
  position: relative;
  top: 0.5em;
}

.buttonpanel select,
.buttonpanel .setting select {
  margin-left: 0.5em;
}

.buttonpanel input[type=radio] {
  margin-bottom: 0.3em;
}

.windowContent table {
  width: 100%;
}

.windowContent .container {
  width: 100%;
  display: inline-block;
}

.windowContent h1 {
  margin: 1em 0.1em 1em 0.4em;
  font-size: large;
  font-weight: bold;
}

.windowContent span.file-path {
  display: block;
}

.windowContent span.file-content {
  display: block;
  color: #aaa;
}

.windowContent p.info-text {
  margin: 1em 0.1em 1em 0.2em;
}

.dataTables_wrapper + p.info-text {
  margin: 3em 0.1em 1em 0.3em;
  clear: both;
}

.bordered-list-elem {
  border: 1px;
  border-radius: 4px;
  margin: 0 0.1em 0 0.1em;
  padding: 0.02em 0.3em 0.02em 0.3em;
  background-color: #eef;
  text-decoration: none;
}

.bordered-list-elem:hover {
  background-color: #ccc;
  color: blue;
}

.sourcepanel {
  clear: both;
  margin-bottom: 1em;
}

.sourcepanel label,
.sourcepanel button,
.sourcepanel select {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.sourcepanel input[type=checkbox] {
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  bottom: -0.2em;
}

.sourcepanel .extra-button {
  float: right;
	font-weight: bold;
  font-size: larger;
  margin-top: .5em;
  margin-right: .5em;
}

.extra-button a {
  text-decoration: none;
}

.extra-button a:hover {
  text-decoration: underline;
}

.partner_table {
  padding: 3px;
  border-collapse: collapse;
  border: 1px solid black;
}

.partner_table td,
.partner_table th {
  border: 1px solid black;
}

.partner_table thead input {
  width: auto;
  margin-right: 12px;
}

.partner_table .syncount {
  text-align: center;
}

.partner_table tfoot {
  color: grey;
}

.partner_table a {
  color: black;
  text-decoration: none;
}

.partner_table a:hover {
  text-decoration: underline;
}

.connectivity_matrix .partner_table td {
  min-width: 3em;
}

.connectivity_matrix .partner_table tr:hover td,
.connectivity_matrix .partner_table tr:hover th,
.connectivity_matrix .partner_table td.highlight,
.connectivity_matrix .partner_table th.highlight {
  background: #FFA;
  border-color: #331;
  font-weight: bold;
}

.connectivity_matrix input.order-input {
  width: 80%;
}

.connectivity_matrix .hover-button {
  cursor: pointer;
  float: left;
}

.connectivity_matrix .remove-skeleton {
  background-color: salmon;
}

.connectivity_matrix .move-up,
.connectivity_matrix .move-down,
.connectivity_matrix .move-left,
.connectivity_matrix .move-right {
  background-color: skyblue;
}

.connectivity_matrix .select {
  background-color: lightgreen;
}

.connectivity_widget table {
  padding: 3px;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.connectivity_widget .header {
  width: calc(100% - 2em);
  margin: 1em 0 1em 1em;
  clear: left;
}

.connectivity_widget .header input {
  margin: 0 3px 0 3px;
  vertical-align: middle;
}

.connectivity_widget .header th {
  border-bottom: 1px solid black;
}

.connectivity_widget .threshold-header{
  width: 7em;
}

.connectivity_widget .header tfoot td {
  border-top: 1px solid #ccc;
  font-style: italic;
}

.connectivity_widget label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}

.connectivity_widget .input-container {
  text-align: center;
}

.connectivity_widget .table_container_half {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.connectivity_widget .table_container_half.gapjunction_visible {
  width: 33%;
}

.connectivity_widget .table_container_wide {
  width: 100%;
  margin-bottom: 6em;
}

.connectivity_widget .table_container_wide:last-child {
  margin-bottom: 0;
}
.connectivity_widget .table_container_hidden,
.connectivity_widget .column_hidden {
  display: none;
}

.connectivity_widget .content {
  display: table;
  clear: both;
}

.connectivity_widget .skeleton-action {
  float: right;
  position: relative;
  top: -0.2em;
}

.connectivity_widget .connectivity_table_actions {
  position: relative;
  clear: both;
  padding: 0.5em 0.5em 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.connectivity_widget .connectivity_table_actions input[type=search] {
  margin-left: 0.2em;
}

.connectivity_widget .dataTables_filter {
  float: none;
  text-align: left;
  display: flex;
  align-items: center;
}

.connectivity_widget .dataTables_filter label {
  margin: 0.5em;
  padding-left: 10px;
  text-indent: 0;
}

.connectivity_widget .partner_table {
  padding: 3px;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1em;
}

.connectivity_widget a {
  color: black;
  text-decoration: none;
}

.connectivity_widget a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.review-block {
  padding: 0.2em 0.2em 0.4em 0.2em;
  box-sizing: border-box;
}

div.review-block::after {
  content:"";
  display:block;
  clear:both;
}

#review_segment_table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  table-layout: fixed;
  margin-bottom: 2em;
}

#review_segment_table td {
  padding: 3px;
}

#review_segment_table tr:nth-child(even) td.nobg {
  background-color: #EEE;
}

#review_segment_table tr:nth-child(odd) td.nobg {
  background-color: #FFF;
}

#review_segment_table tr.highlight {
	font-weight:bold;
  border: 1px solid #000;
}

#review_segment_table tr.active td.nobg {
  background-color: #0F0;
}

#review_segment_table th {
  white-space: nowrap;
  vertical-align: baseline;
  border-bottom: 1px solid black;
  padding: 3px;
}

#review_segment_table th input {
  width: auto;
}

#settings-widget .title {
  font-weight: bold;
}

#settings-widget > .settings-container {
  margin-left: 1em;
}

.settings-container > p {
  margin-left: 0;
}

.settings-container .content {
  margin-left: 1em;
}

.dropdown-panel {
  padding-bottom: 1em;
}

.dropdown-panel .setting {
  float: none;
  clear: none;
  padding: 0.1em 0 0.1em 0;
  position: relative;
  min-width: auto;
  max-width: none;
  display: inline;
}

.dropdown-panel .setting .description {
  width: auto;
  display: inline-block
}

.dropdown-panel .setting .help {
  display: none;
}

.dropdown-panel .setting label{
  padding: 0.2em;
  margin: 0.1em 0.35em;
  display: inline-block;
}

.dropdown-panel input,
.dropdown-panel select,
.dropdown-panel button {
  vertical-align: middle;
  margin-left: 0.3em;
}

.dropdown-panel input[type=radio] {
  margin-bottom: 0.3em;
}

.setting {
  float: left;
  clear: left;
  padding: 0.1em 0 0.1em 0;
  position: relative;
  min-width: 90%;
  max-width: 90%;
}

.setting .description {
  width: 15em;
  display: inline-block;
}

.setting .top {
  vertical-align: top;
  padding: initial;
  border: initial;
  background: initial;
}

.setting .help {
  min-width: 20em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  margin-left: 15em;
}

.setting input[type=checkbox] {
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  bottom: -0.2em;
}

.settings-container {
  clear: both;
  float: left;
}

.setting.disabled {
  color: #555;
}

.setting .settingsMetaToggle {
  position: absolute;
  top: 0;
  right: 0;
}

/* Settings meta tooltip adapted from:
   http://jsfiddle.net/greypants/zgCb7/ */
.setting .settingsMeta {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  left: -25px;
  margin-bottom: 15px;
  opacity: 1;
  display: none;
  padding: 10px;
  pointer-events: auto;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
/*  -webkit-transition: all .15s ease-out;
     -moz-transition: all .15s ease-out;
      -ms-transition: all .15s ease-out;
       -o-transition: all .15s ease-out;
          transition: all .15s ease-out;*/
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.setting .settingsMeta:before {
  bottom: -20px;
  content: " ";
  display: block;
  pointer-events: none;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.setting .settingsMeta:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

#settings-widget select {
  min-width: 20em;
}

#settings-widget select.multiline {
  height: 8em;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.highlight circle {
  fill: #00f !important;
}

.node.tagged circle {
  fill: #fff;
  stroke: orangered;
  stroke-width: 1.5px;
}

.node.connector-linked circle {
  stroke: mediumaquamarine;
  stroke-width: 1.5px;
  fill: khaki;
}

.node.connector-linked.pre circle {
  stroke: firebrick;
  fill: red;
}

.node.connector-linked.pre.highlight circle {
  stroke: red;
}

.node.connector-linked.post circle {
  stroke: darkturquoise;
  fill: cyan;
}

.node.connector-linked.post.highlight circle {
  stroke: cyan;
}

.node.connector-linked.gapjunction circle {
  stroke: purple;
  fill: mediumorchid;
}

.node.connector-linked.highlight circle {
  stroke: mediumorchid;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.link.tagged {
  fill: none;
  stroke: #fcc;
  stroke-width: 1.5px;
}

a.neuron-selection-link {
  color: black;
  text-decoration: none;
}

a.neuron-selection-link:hover {
  text-decoration: underline;
}

.vertical-table-header-outer {
  writing-mode: vertical-rl;
}

.vertical-table-header-inner {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-bottom: 0.3em;
  padding-top: 0.1em;
  text-align: left;
}

.ui-dialog-extra-buttonset {
  float: left;
}

div#dialog-confirm ul {
  padding: 0;
}

div#dialog-confirm select {
  width: 100%;
}

.dialog-confirm table {
  width: 100%;
}

.dialog-confirm table i {
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.dialog-confirm table i.fa-disabled {
  cursor: not-allowed;
}

table.skeleton-table {
  width: 100%;
}

table.skeleton-table th {
  white-space: nowrap;
}

table.skeleton-table tr th,
table.skeleton-table tr td {
  width: 2em;
}

table.skeleton-table tr th.expanding,
table.skeleton-table tr td.expanding {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

table.skeleton-table td * {
  vertical-align: middle;
}

table.skeleton-table .ui-icon {
  margin: auto;
  display: inline-block;
  cursor: pointer;
}

table.skeleton-table .ui-icon-close {
  zoom: 1.2;
}

table.skeleton-table th input.filter {
  width: 33%;
  max-width: 10em;
  border: 1px solid #ccc;
  margin: 0.1em;
}

table.skeleton-table input,
table.skeleton-table select {
  margin: 0;
}

/* Center checkboxes in selection table */
table.skeleton-table td input[type=checkbox] {
  width: 100%;
}

/* Exception for display problem in datatables*/
table.skeleton-table tr:last-child th::after {
  content: "";
}

/* Disable sorting column highlighting */
table.skeleton-table tr.odd td.sorting_1,
table.skeleton-table tr.even td.sorting_1 {
  background: none;
}

table.skeleton-table .sorting_asc,
table.skeleton-table .sorting_desc,
table.skeleton-table .sorting,
table.skeleton-table .sorting_asc_disabled,
table.skeleton-table .sorting_desc_disabled {
	background: none;
}

table.skeleton-table .sorting_disabled {
  position: relative;
  top: 4px;
}

table.skeleton-table .sorting_asc::after {
	content: url('../libs/jquery/datatable/images/sort_asc.png');
  position: relative;
  top: 0.5em;
}

table.skeleton-table .sorting_desc::after {
	content: url('../libs/jquery/datatable/images/sort_desc.png');
  position: relative;
  top: 0.5em;
}

table.skeleton-table .sorting::after {
	content: url('../libs/jquery/datatable/images/sort_both.png');
  position: relative;
  top: 0.5em;
}

table.skeleton-table .sorting_asc_disabled::after {
	content: url('../libs/jquery/datatable/images/sort_asc_disabled.png');
  position: relative;
  top: 0.5em;
}

table.skeleton-table .sorting_desc_disabled::after {
	content: url('../libs/jquery/datatable/images/sort_desc_disabled.png');
  position: relative;
  top: 0.5em;
}

div.selection-table.windowContent {
  box-sizing: border-box;
  padding-top: 1em;
}

.help {
  color: #999;
}

.checkbox-row .help {
  margin-left: 0;
}

.setting input,
.setting select {
  margin-left: 0;
  flex: 1;
}

.setting label, .setting span {
  flex: 1;
}

.blockMsg img {
  margin: 0.5em auto 0.5em auto;
  display: block;
}

.blockMsg span,
.blockMsg div {
  margin: 0.5em auto 0.5em auto;
  font-size: medium;
  font-weight: bold;
  display: block;
}

.dataTables_wrapper {
  min-height: 0;
}


.dataTables_length button {
  margin-left: 1em;
}

.cp-app {
  z-index: 15000;
}

.customselect {
  display: inline-block;
}

.customselect input[type=text] {
  display: block;
}

.customselect-selectbox {
  position: relative;
}

.customselect-overselect {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}

.customselect-content {
  position: absolute;
  display: none;
  border: 1px #dadada solid;
  background: white;
  padding: 4px;
  cursor: default;
  z-index: 10;
  overflow: auto;
  max-height: 20em;
}

.customselect ul {
  display: inline-block;
  list-style-type: none;
  padding: 0 0 0 0 ;
  margin: 0 0 0 0 ;
}

.customselect ul > label {
  display: list-item;
}

.placeholder {
  padding: .5em;
}

.placeholder img {
  width: 1em;
  height: 1em;
}

img.missing-image {
  width: 128px;
  height: 128px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

img.missing-image:before {
	content: url(../images/grey20.png);
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 128px;
  height: 128px;
  border: 2px;
}

.table-widget table {
  width: 100%;
}

.table-widget p {
  margin: 1em 0 1em 0;
}

.synapse-fractions svg {
  position: absolute;
  left: 0;
  top: 0;
}

.selection-box {
  position: absolute;
  top: 500px;
  left: 500px;
  margin: 0;
  padding: 0;
  border: solid 1px #0000FF;
  background: url(../images/blue20.png);
  overflow: visible;
  z-index: 3;
  width: 100px;
  height: 100px;
}

.selection-box-text {
  position: absolute;
  margin: 0;
  padding: 2px;
  background: #0000FF;
  color: #FFFFFF;
  white-space: nowrap;
}

.widget-list label {
  width: 5em;
}

.widget-list label input {
  width: 10em;
}

.widget-list table {
  width:100%;
  cursor: pointer;
}
.widget-list table td {
  padding: 0.1em 0.3em 0.1em 0.3em;
  white-space: nowrap;
  min-width: 10em;
}

.widget-list .dataTables_info {
  padding-left: 0.4em;
  padding-top: 0.6em;
}

.landmark-group-name {
  margin: 0.5em;
}

.landmark-group-name-overlay {
  float: right;
  color: #ccc;
  font-size: 200%;
  margin: 0.5em;
}

.tracing-window {
  position: absolute;
  color: #0f0;
  border: 2px solid rgba(0,255,0,0.45);
}

a[data-role=url-to-clipboard] i {
  color: #5459ff;
  margin: 0 0.5em 0 0.5em;
}

a[data-role=url-to-clipboard] i:hover {
  color: #ff8e43;
  margin: 0 0.5em 0 0.5em;
}

.row-head {
  font-weight: bold;
  text-align: right;
}

span.result-list,
span.result-list-vertical {
  width: 100%;
  text-align: left;
}

table.result-table {
  width: 100%;
}

span.result-list-vertical span.result-element {
  display: flex;
}

span.result-list span.result-element span.li,
span.result-list-vertical span.result-element span.li {
  margin: 0 0.4em 0 0.4em;
  font-weight: bold;
}

span.result-element span.li-body {
  display: flex;
  flex-direction: column;
}

span.result-element span.score {
  margin: 0 0.4em 0 2em;
}

span.result-element span.color {
  margin: 0 0.4em 0 0.2em;
}

span.result-element span.color i {
  text-shadow:
    -1px -1px 0 #777,
    1px -1px 0 #777,
    -1px 1px 0 #777,
    1px 1px 0 #777;
}

span.result-element span.actions {
  margin: 0 1em 0 2em;
}

span.result-element span.actions a {
  margin: 0 0.4em 0 0.4em;
}

span.result-images img {
  margin: 0.5em 0.5em 0.5em 0;
}

input[type=file].files-loaded,
input[type=button].files-loaded,
button.files-loaded {
  background-color: #72e172;
}

.inline-code {
  font-family: monospace;
  background-color: #eae9e9;
  padding: 0.05em;
}

.resultTags {
  margin: 4px 0;
  padding: 0;
}

.resultTags li {
  display: inline-block;
  background-color: #eef;
  list-style-type: none;
  padding: 0 6px 0 6px;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.resultTags li:hover {
  background-color: #eee;
}

.resultTags div.remove_annotation {
  display: inline;
  background-image: url(../images/minus_small.png);
  background-color: #eef;
  background-position: right;
  background-repeat: no-repeat;
  padding: 0 0 0 17px;
  cursor: pointer;
}

.axes-3d-viewer {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid grey;
  margin: 20px;
  padding: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}

.system-check .dataTables_wrapper {
  padding-left: 1.9em;
}

.help-window div.windowContent {
  overflow: hidden;
}

.help-window iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
