div.textlabelView,
div.textlabelView_nocanvas {
  position: absolute;
  top: -1000px;
  left: -1000px;
  margin: 0;
  padding: 0;
  border: none;
  /*max-width: 192px;*/
  overflow: visible;
  z-index: 2;
}

div.textlabelView_nocanvas {
  background: #FFFFFF;
  border: solid 1px #0000FF;
}

div.textlabelView canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div.textlabelView_nocanvas canvas {
  display: none;
}

div.textlabelView p,
div.textlabelView_nocanvas p,
div.textlabelView pre,
div.textlabelView_nocanvas pre,
div.textlabelView input,
div.textlabelView_nocanvas input,
div.textlabelView textarea,
div.textlabelView_nocanvas textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  /*white-space: normal;*/
  /*white-space: pre-line;*/
}

div.textlabelView p,
div.textlabelView_nocanvas p,
div.textlabelView pre,
div.textlabelView_nocanvas pre {
  /* Compensate for Firefox' extra padding in textareas.  In KHTML,
     textare styling seems impossible... */
  padding-left: 1px;
  padding-right: 1px;
}

div.textlabelView input,
div.textlabelView_nocanvas input,
div.textlabelView textarea,
div.textlabelView_nocanvas textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  white-space: pre;
  overflow: hidden;
  display: none;
  /*background: #FF0000;*/
}

div.textlabelView div.moveHandle,
div.textlabelView div.closeHandle {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url(../images/textlabel_movehandle.png) no-repeat left top;
  cursor: move;
  display: none;
}

div.textlabelView div.closeHandle {
  left: 0;
  background: url(../images/textlabel_closehandle.png) no-repeat left top;
  cursor: default;
}
