div.eventCatcher,
div.eventCatcherTop,
div.eventCatcherBottom,
div.eventCatcherLeft,
div.eventCatcherRight,
div.eventCatcherMiddle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  cursor: move;
}

div.eventCatcherTop {
  background: url(../images/red50-20x20.png) repeat-x top;
  display: block;
}

div.eventCatcherBottom {
  background: url(../images/red50-20x20.png) repeat-x bottom;
  display: block;
}

div.eventCatcherLeft {
  background: url(../images/red50-20x20.png) repeat-y left;
  display: block;
}

div.eventCatcherRight {
  background: url(../images/red50-20x20.png) repeat-y right;
  display: block;
}

div.eventCatcherMiddle {
  background: url(../images/red50-20x20.png) no-repeat center/33% 33%;
  display: block;
}

.CMWFrame,
.windowContent{
  position: relative;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.CMWFrame {
  background: #000000;
  overflow: hidden;
}

.CMWTabs {
  background: #FEFEFE;
}

.CMWTabs span {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 3px 6px 3px 6px;
  background: #A0A0A0;
  color: #FFFFFF;
  cursor: pointer;
}

.CMWTabs span:hover {
  background: #55A;
}

.CMWTabs span.active {
  background: #99F;
}

.windowContent {
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: auto;
}

div.windowContent[data-msg]:before {
  display: table-cell;
  content: attr(data-msg);
  width: 100%;
  color: grey;
  text-align: center;
  font-size: x-large;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.windowButton {
  float: left;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0.2em;
  color: #a0a0a0;
  padding: 2px 3px 2px 2px;
}

.stackInfo_selected .windowButton {
  color: #0000ff;
  background: none;
}

.stackInfo_selected .windowButton:hover {
  color: tomato;
}
